---
---
<!DOCTYPE html>
<html lang="ja">
  <head>
{% include google-analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="小型ボードコンピューター Raspberry Pi 3 を使って、JavaScript によるハードウェアの制御を 2 日間のハンズオン形式で学び、その 3 週間後に学んだ技術を活用し、モノづくりを伴ったハッカソンを行います。">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Web×IoT メイカーズチャレンジ 2018-19 in 鳥取">
    <meta property="og:description" content="小型ボードコンピューター Raspberry Pi 3 を使って、JavaScript によるハードウェアの制御を 2 日間のハンズオン形式で学び、その 3 週間後に学んだ技術を活用し、モノづくりを伴ったハッカソンを行います。">
    <meta property="og:image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
    <title>Web×IoT メイカーズチャレンジ 2018-19 in 鳥取</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/local.css">
    <link rel="stylesheet" href="/static/styles/report.css">
    <link rel="icon" type="image/png" href="/static/images/general/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/general/apple-touch-icon.png">
  </head>
  <body class="wimc18 local" id="local-tottori">
{% include latest-link.inc.html title="Web×IoT メイカーズチャレンジ 2018-19" %}
    <main>
      <div id="header-outer" class="outer outer-1">
        <div class="inner">
          <header id="header">
            <h1><span>Web×IoT</span> <span>メイカーズ</span><span>チャレンジ</span> <span>2018-19 in 鳥取</span> <span>開催報告</span></h1>
            <p>学生や若手エンジニアを対象とした IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ 2018-19 in 鳥取」が 2018 年 11 月 - 12 月に鳥取県鳥取市で開催された。JavaScript や HTML といった Web 技術を使ったセンサーやモーターの制御を 2 日間のハンズオン形式の講習会で実践的に学び、その後、3 週間の準備期間を経て、実際に IoT デバイスの作品づくりに挑戦する「ハッカソン」が行われ、9 チームが作品制作に励み最優秀賞受賞を競い合った。</p>
          </header>
        </div>
      </div>
      <figure class="cover">
        <img loading="lazy" src="/static/images/2018/tottori/cover.jpg" alt="" width="1920" height="1080">
      </figure>
      <div id="intro-outer" class="outer outer-2">
        <div class="inner">
          <section id="handson">
            <h2>ハンズオン講習会</h2>
            <div class="row">
              <div class="col">
                <p>2018 年 11 月 10 日 (土) - 11 日 (日) の両日、Web×IoT メイカーズチャレンジ 2018-19 in 鳥取のハンズオン講習会を鳥取大学 鳥取キャンパスにて開催した。当初予定していた定員を大きく上回り、小学生から中高生、高専生、大学生、社会人までと幅広い年代層から多くの参加申し込みがあり、当日は 50 名を超す受講者数となった。</p>
                <p>本講習会は、3 週間後に開催するハッカソンに向けた作品制作の前提となる IoT 開発のスキル習得を目的としているため、講義や実践講習の他に、ハッカソンのチーム分けやチームで制作する作品のテーマ決めなどを行うアイデアワークショップも含めたプログラム構成で実施された。</p>
              </div>
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-01.jpg" srcset="/static/images/2018/tottori/handson-01@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-02.jpg" srcset="/static/images/2018/tottori/handson-02@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>総務省 中国総合通信局 坂平氏</figcaption>
                </figure>
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-03.jpg" srcset="/static/images/2018/tottori/handson-03@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>IoT や電波や無線通信に関する基礎知識風景</figcaption>
                </figure>
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-04.jpg" srcset="/static/images/2018/tottori/handson-04@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>CHIRIMEN for Raspberry Pi 3 での実習風景</figcaption>
                </figure>
              </div>
              <div class="col">
                <p>講習会初日の冒頭は、主催者を代表して総務省中国総合通信局情報通信部情報通信連携推進課長の坂平海氏による挨拶から始まり、最初のプログラムである IoT の基礎知識や関連技術・法制度、および電波の有効利用等に関する講義が行われた。</p>
                <p>講師は、昨年度に引き続き、HTML5-WEST.jp 代表で株式会社神戸デジタル・ラボ 取締役でもある村岡正和氏が担当。Wi-Fi や LTE 等、IoT には欠かせない通信技術やその根源となる電波の特性についても分かりやすい説明がされた他、実際の IoT 開発現場で必要な関連技術や事例なども交えたエンジニア視点の解説がされた。</p>
                <p>続けて、受講者一人ひとりに実習用の機材が配布され、CHIRIMEN for Raspberry Pi 3 を教材環境としたハンズオン講習がスタート。CHIRIMEN for Raspberry Pi 3 は、"ラズパイ"として知られる名刺サイズの小型コンピューター Raspberry Pi 上に構築された IoT プログラミング環境で、CHIRIMEN Open Hardware コミュニティがオープンソースのプロジェクトとして開発しているもので誰でも自由に利用することができる。</p>
                <p>パソコンは不要で、Raspberry Pi 3 にディスプレイやキーボードを接続するだけで、ブラウザー経由で Web 技術 (JavaScript、HTML) を用いてセンサーやアクチュエーターの制御を行える。チュートリアルドキュメントやサンプルコードも充実しているため、初学者の受講者も IoT の第一歩と言える LED ランプの点滅制御 (L チカ) を早くも成功させている姿が見られた。</p>
                <p>初日の午後から 2 日目の午前中にかけては、受講者のサポートを行うチュータースタッフのアドバイスを受けながら、各自のペースで「Web GPIO API」や「Web I2C API」等の API を利用し、様々なセンサーからのデータを取得したり、アクチュエーターを制御したりといった一連の流れをソフト・ハードの両面から実習形式で学習していった。</p>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-05.jpg" srcset="/static/images/2018/tottori/handson-05@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-06.jpg" srcset="/static/images/2018/tottori/handson-06@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <p>2 日目、11 月 11 日 (日) の午後からは、ハッカソンに向けてのチーム分けを実施した。5 ～ 6 名のチーム、9 組が編成され、まずはハッカソンで制作する作品のテーマ決めのヒントとなるアイデアワークショップを行った。</p>
                <p>アイデアワークショップのファシリテーターは、鳥取大学工学研究科機械宇宙工学専攻 助教の三浦政司氏が担当。今回は、鳥取県の地域課題の解決をヒントに各チームの作品テーマの検討の導入として、鳥取県商工労働部産業振興課の大谷武彦氏より鳥取県の現状や地域課題について自治体の立場から紹介が行われた</p>
                <p>大谷氏の話をヒントに付箋を使ったアイデア出しやアイデアスケッチなどが参加者から多数披露され、ハッカソンのチーム分けが発表された。最後はチームごとにハッカソンに向けての作品テーマの検討を行い、ハッカソンまでの準備期間中にもオンラインでの議論や作業を続けられるよう情報交換の手段についての共有を行った。</p>
              </div>
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-07.jpg" srcset="/static/images/2018/tottori/handson-07@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>鳥取県庁 大谷武彦氏</figcaption>
                </figure>
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/handson-08.jpg" srcset="/static/images/2018/tottori/handson-08@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>グループでの議論風景</figcaption>
                </figure>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="hackathon-outer" class="outer outer-1">
        <div class="inner">
          <section id="hackathon">
            <h2>ハッカソン</h2>
            <div class="row">
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-01.jpg" srcset="/static/images/2018/tottori/hackathon-01@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>鳥取運営委員会主査 瀧田佐登子氏</figcaption>
                </figure>
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-02.jpg" srcset="/static/images/2018/tottori/hackathon-02@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-03.jpg" srcset="/static/images/2018/tottori/hackathon-03@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <p>2018 年 12 月 1 日 (土)、および 2 日 (日) の 2 日間の日程で、鳥取大学 コミュニティ・デザイン・ラボを会場としてハッカソンを開催した。11 月に行われたハンズオン講習会から約 3 週間の準備期間を経て、ハッカソン参加者 48 名計 9 チームがそれぞれ作品制作のために準備した材料や機材を持ち寄り、鳥取大学に集結した。</p>
                <p>ハッカソン初日のキックオフでは、主催の鳥取運営委員会で主査を務める一般社団法人 WebDINO Japan 代表理事の瀧田佐登子氏より、「本イベントの特徴は、参加者もメンターもフラットな立場でものづくりに挑戦する点にある。この 2 日間、Web やものづくりのプロであるメンター陣を存分に活用して制作に取り組んで欲しい、失敗からも多くの学びがあるのでチャレンジの場としてハッカソン体験を活用して欲しい」との激励の言葉が寄せられた。</p>
                <p>社会人や大学生、高専生が中心のチームもあったが、小学生や中学生、高校生が含まれるチームも多くあり、バックグラウンドや年代層が異なるメンバー間でコミュニケーションを取りながら共にものづくりに取り組んだ。</p>
                <p>今回は特に、現役エンジニアや Web 技術のエバンジェリストなど豪華なメンター陣が鳥取会場に集結し、各チームの作品づくりをソフトウェア面とハードウェア面のサポートを担当した。会場のあちこちで解説を行いながらメンターが参加者と一緒にコードを書く姿や、工作を手伝う姿、電子回路などの知識を伝授する姿などが見られ、最終的に全チームがハッカソンを完走し作品のデモを行うことができた。</p>
                <p>本ハッカソンではモノづくりを伴う IoT 作品のプロトタイピングがテーマということで、ソフトウェアやアプリ開発のハッカソンとは異なり、ハードを含む材料費が発生する。そのため、ハッカソン参加者が気兼ねなく作品制作に取り組めるよう、チームあたり 20,000 円を上限とした作品制作の材料費を主催者負担とした。</p>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-04.jpg" srcset="/static/images/2018/tottori/hackathon-04@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-05.jpg" srcset="/static/images/2018/tottori/hackathon-05@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-06.jpg" srcset="/static/images/2018/tottori/hackathon-06@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-07.jpg" srcset="/static/images/2018/tottori/hackathon-07@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <p>ハッカソン 2 日目の午後より、各チームの成果発表および表彰作品の審査が行われた。審査員は、株式会社ニューフォリア CTO の羽田野太巳氏、公益財団法人鳥取県産業振興機構知的所有権センターセンター長 山本明良氏、本イベント鳥取運営委員会 主査 瀧田佐登子氏 (一般社団法人 WebDINO Japan 代表理事) の 3 氏が担当し、各チーム作品のアイデアの独創性、ユースケースの有用性、および無線の活用度などの観点から、デモンストレーションを交え実際の作品を見ながら審査を行った。</p>
                <p>審査終了後には、表彰式と懇親会が開催され、最優秀作品には、小学生、高校生、大学生、社会人メンバーにより編成されたチーム A (ガベンジャーズ) の作品「LIFE-BOX」が選ばれた。また鳥取県より特別賞が用意され、チーム B (とうふちくわとかまぼこ) の作品「ゆきてごだんだん」が表彰され、全チーム作品の講評が審査員から伝えられた。</p>
                <p>最後に、主催者を代表して、本事業の主管課である総務省国際戦略局通信規格課長 田沼知行氏の挨拶と乾杯の発声で懇親会がスタート、小学生から社会人までの幅広い参加者が参加した本イベントの懇親会らしく、普段は交流のない年代間でも会話が弾みにぎやかな会となった。昨年度に引き続き開催された、ハッカソンであったが、今年度は昨年の参加者がチューターとして参加するなど、地元に本イベントのコミュニティが定着する第一歩を踏み出せた。</p>
              </div>
              <div class="col">
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-08.jpg" srcset="/static/images/2018/tottori/hackathon-08@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>審査の様子</figcaption>
                </figure>
                <figure>
                  <img loading="lazy" src="/static/images/2018/tottori/hackathon-09.jpg" srcset="/static/images/2018/tottori/hackathon-09@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>総務省 国際戦略局 通信規格課長 田沼知行氏</figcaption>
                </figure>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="winners-outer" class="outer outer-3">
        <div class="inner">
          <section id="winners">
            <h2>表彰作品</h2>
            <section>
              <h3>最優秀賞</h3>
              <div class="row">
                <div class="col">
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/winners-01.jpg" srcset="/static/images/2018/tottori/winners-01@2x.jpg 1.5x" alt="" width="400" height="300">
                    <figcaption>最優秀賞受賞チーム「ガベンジャーズ」</figcaption>
                  </figure>
                </div>
                <div class="col">
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/winners-02.jpg" srcset="/static/images/2018/tottori/winners-02@2x.jpg 1.5x" alt="" width="400" height="300">
                    <figcaption>最優秀賞受賞作品「LIFE-BOX」</figcaption>
                  </figure>
                </div>
              </div>
            </section>
            <section>
              <h3>特別賞</h3>
              <div class="row">
                <div class="col">
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/winners-03.jpg" srcset="/static/images/2018/tottori/winners-03@2x.jpg 1.5x" alt="" width="400" height="300">
                    <figcaption>特別賞受賞チーム「とうふちくわとかまぼこ」</figcaption>
                  </figure>
                </div>
                <div class="col">
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/winners-04.jpg" srcset="/static/images/2018/tottori/winners-04@2x.jpg 1.5x" alt="" width="400" height="300">
                    <figcaption>特別賞受賞作品「ゆきてごだんだん」</figcaption>
                  </figure>
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
      <div id="teams-outer" class="outer outer-2">
        <div class="inner">
          <section id="teams">
            <h2><span>参加チームおよび</span><span>作品概要</span></h2>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team A</strong> <span>ガベンジャーズ</span></h3>
                  <h4>作品名：<span>LIFE-BOX</span> <span>【最優秀賞受賞作品】</span></h4>
                  <p>ゴミ箱に取り付けることで、 IoT ゴミ箱にアップグレードすることができるデバイス。開閉状況をセンサリングし、使用頻度を記録する。長期間使用されていない場合は家族へ通知が送信されるため、一人暮らしの学生やお年寄りのゆるやかな安否確認に使用できる。また、カメラと画像認識技術で、捨てられたものを判別する機能も搭載されている。捨てられたものに応じて、正確な分別・リサイクルの方法や、そのゴミを換金する方法などを透過ディスプレイに表示し、ゴミの削減を後押しする。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-01.jpg" srcset="/static/images/2018/tottori/teams-01@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team B</strong> <span>とうふちくわと</span><span>かまぼこ</span></h3>
                  <h4>作品名：<span>ゆきてごだんだん</span> <span>【特別賞受賞作品】</span></h4>
                  <p>雪かき作業のがんばりを可視化する IoT デバイス。作業者がつける手袋型のウェアラブルではその人の体温の変化を、シャベルに取り付けるアタッチメントではその動きを、それぞれセンサリングする。データから雪かきの努力量を判断し、LEDの点灯や画像の表示によって称える。ウェアラブルとシャベルのアタッチメントはそれぞれ独立したデバイスのため、雪かきの邪魔をせずに使用できる。貢献の可視化やそれに応じた報酬によって、人口減少に伴う、鳥取県の雪かき作業人員の減少に歯止めをかける。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-02.jpg" srcset="/static/images/2018/tottori/teams-02@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team C</strong></h3>
                  <h4>作品名：全自動皺伸ばし機</h4>
                  <p>名前の通り、衣服のシワ取りを全自動で行ってくれるデバイス。大学生の一人暮らしの経験から着想した。デバイスに衣服をセットすると、まず表面についているホコリを落としてくれる。次に、霧吹きによって衣服の表面を湿らせる。その後、湿らせた状態で衣服に張力をかけ、シワが無い状態にする。この状態でドライヤーが発動するため、シワがないまま服を乾燥させることができる。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-03.jpg" srcset="/static/images/2018/tottori/teams-03@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team D</strong> <span>D ナッツ</span></h3>
                  <h4>作品名：アートかかし</h4>
                  <p>農家と食べ手の緩やかなつながりをつくり、鳥取県の農業を盛り上げるための IoT システム。NFC タグを用いて農産物の管理をし、食材に関する情報をトレース可能にする。レストランでお皿の QR コードを読み取ると、生産者や生産地に関する情報や、アレルゲン等に関する情報を確認できる。お客さんはそのページから、食材の感謝を「いいね」として送信もできる。「いいね」が送信されると、農場に設置されたアートかかしの LED イルミネーションが光り、表情が変化することで生産者に感謝の気持ちが届けられる。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-04.jpg" srcset="/static/images/2018/tottori/teams-04@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team E</strong></h3>
                  <h4>作品名：<span>メイカーズ・</span><span>ポッターと</span><span>必要の棚</span></h4>
                  <p>自由に起き上がれない要介護者のための IoT 棚。Web サイト上のリストから棚に置いてある物を選択すると、デバイスが動作して手の届くところまで持ってきてくれる。注文が入ると、センサーが棚の仕切りを認識し、対象物が収容されている区画を検知する。区画にアームが移動し、バキュームポンプで対象物を持ち上げて移動する。デバイスの利用履歴は介護者へ送信され、介護負担の軽減につながる。使用履歴は安否確認になる他に、棚から取り出した物の履歴から、本人との会話の話題づくりのきっかけにもなる。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-05.jpg" srcset="/static/images/2018/tottori/teams-05@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team F</strong> <span>チームまな板</span></h3>
                  <h4>作品名：高性能まな板</h4>
                  <p>食材をセンサリングするスマートまな板。透明な板の中にディスプレイが搭載されている。センサーやカメラを用いて板上の食材を認識し、種類や重さなどの情報を表示することで調理のサポートを行う。まな板表面の透明板は取り外し可能で簡単に洗うこともできるため、衛生面も考慮されている。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-06.jpg" srcset="/static/images/2018/tottori/teams-06@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team G</strong> <span>Gyu タン</span></h3>
                  <h4>作品名：スマートカーペット</h4>
                  <p>一面がディスプレイになっているスマートカーペット。表示する模様や動画が自在に設定できるため、気分に合わせてカーペットのデザインを変更できる。またディスプレイであることを活かして、玄関のインターホンなどを視覚的に通知する機能なども持ち合わせている。その他、ホットカーペットの温度表示機能や、人感センサーを用いた ON/OFF の自動制御による節電機能も搭載されている。主にお年寄りの自宅での利用を想定しているため、単純でわかりやすい操作性にこだわった。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-07.jpg" srcset="/static/images/2018/tottori/teams-07@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team H</strong> <span>ゴ○リと</span><span>ワ○ワクさんと</span><span>他 3 名の仲間たち</span></h3>
                  <h4>作品名：(Variant, Active, Gradation)</h4>
                  <p>忘れ物を防いでくれるカバン。カバンの内部はアイテムごとに仕切られた構造になっており、決められた場所に物が入っていないとセンサーが忘れ物を検知する。カバンの表面にディスプレイが組み込まれており、忘れ物がある場合は表示で注意してくれる。アイテムの使用中、常に忘れ物を表示させるのではなく、出かける際に持ち上げた時にのみ通知するよう工夫した。情報が表示されていない状態では、気分に合わせて好きなデザインの柄を表示しておくこともできる。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-08.jpg" srcset="/static/images/2018/tottori/teams-08@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team I</strong> <span>I 班</span></h3>
                  <h4>作品名：BOOK & Music Self</h4>
                  <p>本棚型のスマートサイネージ。待合室などの室内に設置し、部屋が暗いと OFF 、部屋が明るいと自動でシステムが ON になる。デフォルトでは本や音楽のランキングを表示し、興味を持った人が近づくと、あらすじやアーティスト情報などの詳細表示に切り替わる。画面上の QR コードを読み込むと商品ページへアクセスできるため、購入やダウンロードし、実際にコンテンツを楽しむまでの導線が完成している。表示のプログラムだけでなく、ディスプレイを埋め込むための棚の完成度にもこだわった。</p>
                  <figure>
                    <img loading="lazy" src="/static/images/2018/tottori/teams-09.jpg" srcset="/static/images/2018/tottori/teams-09@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="outline-outer" class="outer outer-1">
        <div class="inner">
          <section id="outline">
            <h2><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>2018-19 in 鳥取</span> <span>開催概要</span></h2>
            <table>
              <tr itemscope itemtype="http://schema.org/Event">
                <th rowspan="2">日程／会場</th>
                <th itemprop="name">ハンズオン講習会</th>
                <td>
                  <time datetime="2018-11-10" itemprop="startDate">2018 年 11 月 10 日 (土)</time> – <time datetime="2018-11-11" itemprop="endDate">11 日 (日)</time>
                  <meta itemprop="description" content="電波リテラシーを含む IoT の基礎知識に関する講義の後、Raspberry Pi 3 上に構築された IoT プログラミング環境 CHIRIMEN for Raspberry Pi 3 を教材に、各自サンプルプログラムを触りながら、実際にネットと接続したセンサーやアクチュエーター (モーターなど) の制御をハンズオン形式の講習会で学びます。また、ハッカソン作品テーマ検討に向けての通地域課題をテーマにしたアイデアワークショップも行います。">
                  <meta itemprop="url" content="https://webiotmakers.github.io/2018/tottori/">
                  <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
                  <br>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <a itemprop="url" href="https://www.tottori-u.ac.jp/1796.htm#tottori"><span itemprop="name">鳥取大学鳥取キャンパス</span></a>
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="addressRegion" content="鳥取県">
                      <meta itemprop="addressLocality" content="鳥取市">
                    </span>
                  </span>
                </td>
              </tr>
              <tr itemscope itemtype="http://schema.org/Event">
                <th itemprop="name">ハッカソン</th>
                <td>
                  <time datetime="2018-12-01" itemprop="startDate">2018 年 12 月 1 日 (土)</time> – <time datetime="2018-12-02" itemprop="endDate">2 日 (日)</time>
                  <meta itemprop="description" content="ハンズオン講習で学んだ技術を活かして IoT 作品をチームごとに制作し、その成果を競います。チーム結成からハッカソンまでの準備期間は約 3 週間。その間にメンバーと相談して作品制作に必要な材料を調達していただきます。また、ハッカソンの作品制作にかかる材料費も 1 チームにつき最大 20,000 円まで補助があります。">
                  <meta itemprop="url" content="https://webiotmakers.github.io/2018/tottori/">
                  <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
                  <br>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <a itemprop="url" href="https://www.tottori-u.ac.jp/1796.htm#tottori"><span itemprop="name">鳥取大学鳥取キャンパス</span></a>
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="addressRegion" content="鳥取県">
                      <meta itemprop="addressLocality" content="鳥取市">
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <th>主催</th>
                <td colspan="2"><a href="https://www.soumu.go.jp/soutsu/chugoku/">総務省中国総合通信局</a><br>Web×IoT メイカーズチャレンジ 鳥取運営委員会</td>
              </tr>
              <tr>
                <th>特別協力</th>
                <td colspan="2"><a href="https://site.icee.tottori-u.ac.jp/">鳥取大学工学部 ものづくり教育実践センター</a></td>
              </tr>
              <tr>
                <th>協力</th>
                <td colspan="2">
                  <a href="https://www.pref.tottori.lg.jp/">鳥取県</a>、
                  <a href="https://www.tottori-u.ac.jp/">鳥取大学</a>、
                  <a href="https://www.yonago-k.ac.jp/">米子工業高等専門学校</a>、
                  <a href="http://seishokaichi.jp/">青翔開智中学校 高等学校</a>、
                  <a href="https://www.tottori-johoku.ed.jp/">鳥取城北高等学校</a>、
                  中国地域 ICT 産学官連携フォーラム、
                  <a href="https://www.kddi.com/">KDDI 株式会社</a>、
                  <a href="https://chirimen.org/">CHIRIMEN Open Hardware</a>
                </td>
              </tr>
              <tr>
                <th>後援</th>
                <td colspan="2">
                  <a href="https://smartiot-forum.jp/">スマート IoT 推進フォーラム</a>、
                  <a href="https://www.pref.tottori.lg.jp/277669.htm">とっとり IoT 推進ラボ</a>
                </td>
              </tr>
              <tr>
                <th>運営事務局</th>
                <td colspan="2"><a href="https://www.webdino.org/">一般社団法人 WebDINO Japan</a><br>お問い合わせ先: <a href="mailto:info-webiot-tottori@webdino.org">info-webiot-tottori@webdino.org</a></td>
              </tr>
            </table>
            <p><a href="/static/docs/2018/tottori-flier.pdf" target="_blank">告知チラシ (1 MB PDF)</a></p>
            <p><a href="/2017/tottori/">2017 年度 (Web×IoT メイカーズチャレンジ 2017 in 鳥取) の開催報告はこちら</a></p>
          </section>
        </div>
      </div>
      <div id="join-outer" class="outer outer-2">
        <div class="inner">
          <section id="join">
            <h2>申し込み</h2>
            <p><a href="https://webiotmakers.connpass.com/event/102532/" class="button cta">詳細はこちら</a> <small>(Connpass サイトへ移動します)</small></p>
          </section>
        </div>
      </div>
      <div id="footer-outer" class="outer">
        <div class="inner">
          <footer id="footer">
            <nav>
              <p><a href="/2018/">Web×IoT メイカーズチャレンジ 2018-19 ホームページ</a></p>
            </nav>
            <p>Copyright &copy; 2019 Web×IoT メイカーズチャレンジ実行委員会</p>
            <p><a href="/about/admin/">運営者情報</a> | <a href="/about/privacy/">プライバシーポリシー</a> | <a href="/about/code-of-conduct/">イベント行動規範</a></p>
            <p><small>本文中に記載されているブランド名、会社名、製品名等は、それぞれ各社の登録商標または商標です。</small></p>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
