---
---
<!DOCTYPE html>
<html lang="ja">
  <head>
{% include google-analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Raspberry Pi Model B+ (Single Board Computer) を用いて、IoT や電波や無線通信に関する基礎知識の「座学講習会」、Web 技術を用いたハードウェア制御を実践的に学ぶ「体験講習会」を行い、その約 6 週間後に座学・体験講習会で学んだ技術を活用し、モノづくりを伴った「ハッカソン」を行います。">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="Web×IoT メイカーズチャレンジ 2018-19 in 沖縄">
    <meta property="og:description" content="Raspberry Pi Model B+ (Single Board Computer) を用いて、IoT や電波や無線通信に関する基礎知識の「座学講習会」、Web 技術を用いたハードウェア制御を実践的に学ぶ「体験講習会」を行い、その約 6 週間後に座学・体験講習会で学んだ技術を活用し、モノづくりを伴った「ハッカソン」を行います。">
    <meta property="og:image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
    <title>Web×IoT メイカーズチャレンジ 2018-19 in 沖縄</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&amp;display=swap">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/local.css">
    <link rel="stylesheet" href="/static/styles/report.css">
    <link rel="icon" type="image/png" href="/static/images/general/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/general/apple-touch-icon.png">
  </head>
  <body class="wimc18 local" id="local-okinawa">
{% include latest-link.inc.html title="Web×IoT メイカーズチャレンジ 2018-19" %}
    <main>
      <div id="header-outer" class="outer outer-1">
        <div class="inner">
          <header id="header">
            <h1><span>Web×IoT</span> <span>メイカーズ</span><span>チャレンジ</span> <span>2018-19 in 沖縄</span> <span>開催報告</span></h1>
            <p>2018 年 10 月 20 日 (土) 北部会場、10 月 28 日 (日) 南部会場でハンズオン講習会、12 月 15 日 (土)- 16 日 (日) にハッカソンと、計 4 日間、プラス自由参加の基礎講座 1 日を含む 5 日間の日程で北部会場名護市、南部会場宜野湾市、沖縄市にて「Web×IoT メイカーズチャレンジ 2018-2019 in 沖縄」が開催された。このイベントは、Web 技術 (JavaScript、HTML) を用いたハードウェアの制御をハンズオン講習会で実践的に学んだのち、成果発表の機会としてハッカソンを行い、実際の IoT デバイス開発に挑戦するもので、これら一連のイベントを通じて若手 IoT エンジニアのスキルアップを目指す取り組みとして実施された。</p>
          </header>
        </div>
      </div>
      <figure class="cover">
        <img src="/static/images/2018/okinawa/cover.jpg" alt="" width="1920" height="640">
      </figure>
      <div id="intro-outer" class="outer outer-2">
        <div class="inner">
          <section id="handson">
            <h2>ハンズオン講習会</h2>
            <div class="row">
              <div class="col">
                <p>Web×IoT メイカーズチャレンジ 2018-19 in 沖縄のハンズオン講習会は、2 会場の内から選んで受講することを可能とし、10 月 20 日 (土) 北部会場、10 月 28 日 (日) 南部会場で開催。合計 34 名の文系大学生、理系大学生、高専、職業能力開発大学校の参加があった。</p>
                <p>これは昨年度実施したアンケートに「会場が遠い」という意見があったことから、今年度の実施会場を北部と南部の２会場設置。その結果、開催会場には近隣大学の学生が参加した。</p>
                <p>前半の座学講習は、電波利用の基礎を含む IoT 開発の基礎知識を学び、後半の体験講習では各自にRaspberry Pi3 B+ とスターターキットを配布し実際に制御することを体験した。実践による制御では、L チカ (LED チカチカの略) の成功に嬉しそうな反応を見せてくれた。普段とはちがう仲間が集うということで、教室はちょっとした緊張と楽しみたいという空間となっていた。</p>
                <p>アクシデントとしては、南部開催に参加予定であった琉球大学学生 ４ 名が講習会に出席できないと当日に連絡があり、主査と相談し救済処置として別日に講習を行った。</p>
              </div>
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/handson-09.jpg" srcset="/static/images/2018/okinawa/handson-09@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>会場で使用した教材</figcaption>
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/handson-01.jpg" srcset="/static/images/2018/okinawa/handson-01@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/handson-02.jpg" srcset="/static/images/2018/okinawa/handson-02@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/handson-03.jpg" srcset="/static/images/2018/okinawa/handson-03@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/handson-04.jpg" srcset="/static/images/2018/okinawa/handson-04@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>北部会場の様子</figcaption>
                </figure>
              </div>
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/handson-05.jpg" srcset="/static/images/2018/okinawa/handson-05@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/handson-06.jpg" srcset="/static/images/2018/okinawa/handson-06@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/handson-07.jpg" srcset="/static/images/2018/okinawa/handson-07@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/handson-08.jpg" srcset="/static/images/2018/okinawa/handson-08@2x.jpg 1.5x" alt="" width="400" height="300">
                  <figcaption>南部会場の様子</figcaption>
                </figure>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="hackathon-outer" class="outer outer-1">
        <div class="inner">
          <section id="hackathon">
            <h2>ハッカソン</h2>
            <div class="row">
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/hackathon-01.jpg" srcset="/static/images/2018/okinawa/hackathon-01@2x.jpg 1.5x" alt="" width="400" height="300">
                  <img src="/static/images/2018/okinawa/hackathon-02.jpg" srcset="/static/images/2018/okinawa/hackathon-02@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <p>2018 年 12 月 15 日 (土) - 16 日 (日)、10 月に実施したハンズオン講習会の成果発表イベントとして、沖縄市：沖縄職業能力開発大学校 (沖縄ポリテクカレッジ) にてハッカソンを開催した。今年度のハッカソンテーマは「地域に役立つもの」と題し、参加 7 チームはハッカソンイベントの 2 日間で作品製作を行った。</p>
                <p>ハッカソン 2 日間の日程は非常にタイトなスケジュールで、実質的には 1 日半で作品製作を行うこととなり、2 日目の午後には審査会が行われる。審査員が製作者の各テーブルを周り審査する方法で、製作者は審査員に対して実演しながら開発目的などをプレゼンテーション行う。</p>
                <p>製作条件は「無線を活用して、ネットワークサービスの連携もしくはネットワークからのコントロールが可能なこと / Web 技術を活用したシステムであること / Raspberry Pi 3 B+ を用いた講習で学んだ知識に基づいた創作物であること」。審査基準は「1. 課題テーマに即しているか / 2. ソフトウェア・ハードウェアの実装力 / 3. アイデアの創造性・独創性・実用性 / 4. Web・無線の活用度」の 4 点となる。</p>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/hackathon-03.jpg" srcset="/static/images/2018/okinawa/hackathon-03@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/hackathon-04.jpg" srcset="/static/images/2018/okinawa/hackathon-04@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <p>今回の審査員は、久恒達宏氏 (沖縄総合通信事務所所長)、ロバート・ケプキー氏 (在沖米国総領事館総領事)、上原淳氏 (沖縄県商工労働部情報産業振興課)、石垣克夫氏 (フロム沖縄推進機構)、比屋根隆氏 (沖縄情報産業協会、株式会社レキサス代表取締役社長) の 5 名が務めた。</p>
                <p>全 ７ チームの作品を審査した結果、琉球大学生 4 名で構成されたチーム: Tamaki.Lab の作品「植物フレンド」が最優秀賞を受賞。「沖縄の気候環境でも植物を大切に育てられるところや、またセンサーで収集したデータをクラウドにアップして活用するシステムとしても良かった」と評価され選ばれた。他のチームも完成度が高く、また上位は均差であったが、中には Raspberry Pi 3B+ の機能を上手く活用しきれないチームなども有った。</p>
                <p>チーム：Tamaki.Lab は、3 月 に東京で開催する「スマート IoT 推進フォーラム総会」に招待され、作品の展示を行った。</p>
              </div>
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/hackathon-05.jpg" srcset="/static/images/2018/okinawa/hackathon-05@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
            </div>
            <div class="hr"></div>
            <div class="row">
              <div class="col">
                <figure>
                  <img src="/static/images/2018/okinawa/hackathon-06.jpg" srcset="/static/images/2018/okinawa/hackathon-06@2x.jpg 1.5x" alt="" width="400" height="300">
                </figure>
              </div>
              <div class="col">
                <h3>Spacial Thanks</h3>
                <p>昨年度同様スイッチサイエンス社のエイドステーション協力により、物品販売を行った。ハッカソン 2 日間のサポート体制には欠かせない。</p>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="teams-outer" class="outer outer-2">
        <div class="inner">
          <section id="teams">
            <h2><span>参加チームおよび</span><span>作品概要</span></h2>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team A</strong> <span>SHR</span></h3>
                  <h4>作品名：効率にうるさい奴</h4>
                  <p>本システムは、学生の学習環境を効率化するためのシステム。学習環境の非効率化を防ぐために、カメラを使った目の検知や CO<sub>2</sub> センサーを使った CO<sub>2</sub> 濃度の測定、モーションセンサーを使用し、そのデータをもとに集中力が落ちていると判断すると使用者に通知、一定以上の CO<sub>2</sub> 濃度を検出すると通知し換気を促す。また、そのデータを Web ページで閲覧可能。</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-01.jpg" srcset="/static/images/2018/okinawa/teams-01@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-02.jpg" srcset="/static/images/2018/okinawa/teams-02@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team B</strong> <span>PEOTIC-翠</span></h3>
                  <h4>作品名：ホームプロテクティー</h4>
                  <p>家を留守にしている際の防犯対策システム。不審者が侵入しようとした際、レーザーモジュールと CdS セルを使い検知、うろつきを検知するために赤外線センサーを用いる。センサーに反応があった際に LINE に通知できる。 RFID の無線通信を用いて IC カードでロックを開閉できる。インターホンを押すと写真を撮影し携帯に送信する。また、鍵の開閉状況を読み取り LINE で確認でき、各種センサーに反応があった時の日時記録を Web で確認できる。</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-03.jpg" srcset="/static/images/2018/okinawa/teams-03@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-04.jpg" srcset="/static/images/2018/okinawa/teams-04@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team C</strong> <span>miss-code</span></h3>
                  <h4>作品名：パトウォーク</h4>
                  <p>お散歩しながら治安維持！ ラズパイで人通りの少ない道を検知し、その道をお散歩がてらパトロールするようにアプリで誘導することで、人通りの少ない場所を狙った犯罪を未然に防ぐ。</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-05.jpg" srcset="/static/images/2018/okinawa/teams-05@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-06.jpg" srcset="/static/images/2018/okinawa/teams-06@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team D</strong></h3>
                  <h4>作品名：We Love Maitake+</h4>
                  <p>Arduino を子機、Raspberry Pi を親機とした製品。Arduino で気温・水温・湿度・照度を取得し、Raspberry Pi に取りまとめる。その後、サーバーへ送りグラフ化して可視化する。Arduino は省電力で動くため、複数台設置しそれらの情報すべてを Raspberry Pi にまとめサーバーに送り可視化することにより、海ぶどうの養殖に役立ててもらう。</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-07.jpg" srcset="/static/images/2018/okinawa/teams-07@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-08.jpg" srcset="/static/images/2018/okinawa/teams-08@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team E</strong> <span>odo</span></h3>
                  <h4>作品名：ハカリィーノ</h4>
                  <p>心拍を測るパルスセンサーを使い、まず 1 分間の数値を出す。その数値を指定した (今回は自分の Gmail に) 測定結果を送る。音声読み上げを使い規定した数値を超えると値と正常か異常かを読み上げ警告などを促す。最初にとった数値を CSV に書き込み、ブラウザーからアクセスがあると CSV ファイルを読み込み HTML に表示する。</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-09.jpg" srcset="/static/images/2018/okinawa/teams-09@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-10.jpg" srcset="/static/images/2018/okinawa/teams-10@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
              <div class="col">
                <section>
                  <h3><strong>Team F</strong> <span>ぼっちチーム</span></h3>
                  <h4>作品名：ちょいスマ</h4>
                  <p>観光客の多い沖縄では、飲食店が混んでいて、お店のスタッフもお客さんも注文をするのが大変…ということも。そのお仕事、スマートスピーカーに任せてみませんか？ ちょいスマなら、音声認識で注文を取ることができる。<br>・注文を取る (商品の値段確認 (発音)・合計金額確認 (発音)・商品注文)<br>・注文をキッチンの端末に表示 (注文・注文された時間)<br>スピーカーとおしゃべりしながら、注文しよう！</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-11.jpg" srcset="/static/images/2018/okinawa/teams-11@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-12.jpg" srcset="/static/images/2018/okinawa/teams-12@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <section>
                  <h3><strong>Team G</strong> <span>Tamaki.Lab</span></h3>
                  <h4>作品名：植物フレンド <span>【最優秀賞受賞作品】</span></h4>
                  <p>温度、湿度、照度、画像を使って植物の生育情報を観察、記録する。アナログセンサーを扱うために Arduino 経由でもデータを取得。 Web 連携サービスである IFTTT を使って、一定の条件になったら、キャラクター (植物フレンズ) からの情報 (画像) として Slack に生育状態を投稿する。</p>
                  <figure>
                    <img src="/static/images/2018/okinawa/teams-13.jpg" srcset="/static/images/2018/okinawa/teams-13@2x.jpg 1.5x" alt="" width="400" height="300">
                    <img src="/static/images/2018/okinawa/teams-14.jpg" srcset="/static/images/2018/okinawa/teams-14@2x.jpg 1.5x" alt="" width="400" height="300">
                  </figure>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div id="outline-outer" class="outer outer-1">
        <div class="inner">
          <section id="outline">
            <h2><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>2018-19 in 沖縄</span> <span>開催概要</span></h2>
            <table>
              <tr itemscope itemtype="http://schema.org/Event">
                <th rowspan="4">日程／会場</th>
                <th itemprop="name">座学・体験講習会 (北部)</th>
                <td>
                  <time datetime="2018-10-20" itemprop="startDate">2018 年 10 月 20 日 (土)</time>
                  <meta itemprop="description" content="Raspberry Pi Model B+ に搭載したプログラミング環境 CHIRIMEN for Raspberry Pi 3 を教材に、各自サンプルプログラムを触りながら、実際にネットと接続し、センサーやアクチュエーター (モーターなど) の制御を「体験講習会」で学びます。また、ハッカソン作品テーマ検討に向けての地域課題をテーマにしたアイデアワークショップも行います。">
                  <meta itemprop="url" content="https://webiotmakers.github.io/2018/okinawa/">
                  <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
                  <br>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <a itemprop="url" href="http://www3.jeed.or.jp/okinawa/poly/center.html"><span itemprop="name">沖縄北部雇用能力開発総合センター</span> (北部ポリテクセンター)</a>
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="addressRegion" content="沖縄県">
                      <meta itemprop="addressLocality" content="名護市">
                    </span>
                  </span>
                </td>
              </tr>
              <tr itemscope itemtype="http://schema.org/Event">
                <th itemprop="name">基礎講座 (自由参加)</th>
                <td>
                  <time datetime="2018-10-21" itemprop="startDate endDate">2018 年 10 月 21 日 (日)</time>
                  <meta itemprop="description" content="IoT 工作に必要なハードの基礎が学べます (自由参加)">
                  <meta itemprop="url" content="https://webiotmakers.github.io/2018/okinawa/">
                  <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
                  <br>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <a itemprop="url" href="http://www.okiu.ac.jp/campuslife/campusmap/"><span itemprop="name">沖縄国際大学</span></a>
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="addressRegion" content="沖縄県">
                      <meta itemprop="addressLocality" content="宜野湾市">
                    </span>
                  </span>
                  <br>
                  ※基礎講座は IoT 工作に必要なハードの基礎が学べます。<br>地域に関係なく自由にご参加いただけます。
                </td>
              </tr>
              <tr itemscope itemtype="http://schema.org/Event">
                <th itemprop="name">座学・体験講習会 (南部)</th>
                <td>
                  <time datetime="2018-10-20" itemprop="startDate">2018 年 10 月 28 日 (日)</time>
                  <meta itemprop="description" content="Raspberry Pi Model B+ に搭載したプログラミング環境 CHIRIMEN for Raspberry Pi 3 を教材に、各自サンプルプログラムを触りながら、実際にネットと接続し、センサーやアクチュエーター (モーターなど) の制御を「体験講習会」で学びます。また、ハッカソン作品テーマ検討に向けての地域課題をテーマにしたアイデアワークショップも行います。">
                  <meta itemprop="url" content="https://webiotmakers.github.io/2018/okinawa/">
                  <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
                  <br>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <a itemprop="url" href="http://www.okiu.ac.jp/campuslife/campusmap/"><span itemprop="name">沖縄国際大学</span></a>
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="addressRegion" content="沖縄県">
                      <meta itemprop="addressLocality" content="宜野湾市">
                    </span>
                  </span>
                </td>
              </tr>
              <tr itemscope itemtype="http://schema.org/Event">
                <th itemprop="name">ハッカソン</th>
                <td>
                  <time datetime="2018-12-15" itemprop="startDate">2018 年 12 月 15 日 (土)</time> – <time datetime="2018-12-16" itemprop="endDate">16 日 (日)</time>
                  <meta itemprop="description" content="座学・体験講習会で学んだ技術を活かして IoT 作品をチームごとに制作し、その成果を競います。チーム結成からハッカソンまでの準備期間は約 6 週間。その間にメンバーと相談して作品制作に必要な材料を調達していただきます。また、ハッカソンの作品制作にかかる材料費も 1 人 5,000 円で 1 チーム (上限 5 人) 最高 25,000 円まで補助があります。">
                  <meta itemprop="url" content="https://webiotmakers.github.io/2018/okinawa/">
                  <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2018/template/ogp.jpg">
                  <br>
                  <span itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <a itemprop="url" href="http://www3.jeed.or.jp/okinawa/college/admission/access.html"><span itemprop="name">沖縄職業能力開発大学校</span> (沖縄ポリテクカレッジ)</a>
                    <meta itemprop="name" content="沖縄職業能力開発大学校">
                    <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      <meta itemprop="addressRegion" content="沖縄県">
                      <meta itemprop="addressLocality" content="沖縄市">
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <th>主催</th>
                <td colspan="2"><a href="https://www.soumu.go.jp/soutsu/okinawa/">総務省沖縄総合通信事務所</a><br>Web×IoT メイカーズチャレンジ 沖縄運営委員会</td>
              </tr>
              <tr>
                <th>協力</th>
                <td colspan="2">
                  <a href="https://www.pref.okinawa.jp/">沖縄県</a>、
                  <a href="http://www3.jeed.or.jp/okinawa/college/">沖縄職業能力開発大学校</a>、
                  <a href="http://www.okiu.ac.jp/">沖縄国際大学</a>、
                  <a href="http://www.u-ryukyu.ac.jp/">琉球大学</a>、
                  <a href="http://www.okinawa-ct.ac.jp/">沖縄工業高等専門学校</a>、
                  <a href="https://from-okinawa.org/">特定非営利活動法人フロム沖縄推進機構</a>、
                  <a href="https://www.iia-okinawa.or.jp/">公益社団法人沖縄県情報産業協会</a>
                </td>
              </tr>
              <tr>
                <th>後援</th>
                <td colspan="2">
                  <a href="https://smartiot-forum.jp/">スマート IoT 推進フォーラム</a>
                </td>
              </tr>
              <tr>
                <th>運営事務局</th>
                <td colspan="2"><a href="https://peraichi.com/landing_pages/view/yanbaru">一般社団法人頑張る地域支援し隊</a><br>お問い合わせ先: <a href="mailto:webiot.makers.okinawa@gmail.com">webiot.makers.okinawa@gmail.com</a></td>
              </tr>
            </table>
            <p><a href="/2017/okinawa/">2017 年度 (Web×IoT メイカーズチャレンジ 2017 in 沖縄) の開催報告はこちら</a></p>
          </section>
        </div>
      </div>
      <div id="join-outer" class="outer outer-2">
        <div class="inner">
          <section id="join">
            <h2>申し込み</h2>
            <p><a href="https://peraichi.com/landing_pages/view/webiot2018okinawa" class="button cta">詳細はこちら</a></p>
          </section>
        </div>
      </div>
      <div id="footer-outer" class="outer">
        <div class="inner">
          <footer id="footer">
            <nav>
              <p><a href="/2018/">Web×IoT メイカーズチャレンジ 2018-19 ホームページ</a></p>
            </nav>
            <p>Copyright &copy; 2019 Web×IoT メイカーズチャレンジ実行委員会</p>
            <p><a href="/about/admin/">運営者情報</a> | <a href="/about/privacy/">プライバシーポリシー</a> | <a href="/about/code-of-conduct/">イベント行動規範</a></p>
            <p><small>本文中に記載されているブランド名、会社名、製品名等は、それぞれ各社の登録商標または商標です。</small></p>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
