---
layout: 2023
id: video
title: Web×IoT メイカーズチャレンジ PLUS 紹介動画
description: Web✕IoT メイカーズチャレンジ PLUS の各地の開催の様子や主催者インタビューなどを動画でご覧いただけます。
---

<article>
  <div id="about-header-outer" class="outer outer-2">
    <div class="inner">
      <header id="header">
        <h1>
          <span>Web×IoT</span> <span>メイカーズチャレンジ</span>
          <span>PLUS</span>
          <span>紹介動画</span>
        </h1>
        <p>
          Web✕IoT メイカーズチャレンジ PLUS の各地の開催の様子や主催者インタビューなどを動画でご覧いただけます。
        </p>
      </header>
    </div>
  </div>
  <div class="outer outer-2 material">
    <div class="inner">
      <section>
        <h3>Web✕IoT メイカーズチャレンジ PLUS 紹介動画 [5:41]</h3>
        <p>Web✕IoT メイカーズチャレンジ PLUS の取り組みの紹介、基本的なイベントの流れの説明に加え、運営側メンバーからや参加者からの声もご紹介しています。</p>
        <div class="video">
          {% include youtube-video.inc.html id="i-q_-s2OkmA" %}
        </div>
      </section>
      <section>
        <h3>岡山ハッカソン ダイジェスト＆主催者インタビュー (2022 年度) [6:39]</h3>
        <p>2022 年 11 月に開催された岡山でのハッカソンの主催者インタビューやハッカソン当日の様子をダイジェストとしてまとめました。</p>
        <div class="video">
          {% include youtube-video.inc.html id="CwrLOg_Jf0o" %}
        </div>
      </section>
      <section>
        <h3>鳥取ハッカソン ダイジェスト＆運営メンバーインタビュー (2022 年度) [7:22]</h3>
        <p>2023 年 1 月に開催された鳥取でのハッカソンの運営メンバーインタビューやハッカソン当日の様子をダイジェストとしてまとめました。</p>
        <div class="video">
          {% include youtube-video.inc.html id="rWZX0qPUFWk" %}
        </div>
      </section>
      <!-- <section>
        <h3>愛媛 CATV 制作：愛媛 ハッカソンドキュメント (2022 年度) [30:01]</h3>
        <p>2022 年 12 月に開催された愛媛でのハッカソンの様子を愛媛 CATV 様に参加者に密着したドキュメンタリー映像として公開いただいています。</p>
        <div class="video">
          {% include youtube-video.inc.html id="7p0iMaVd684" %}
        </div>
      </section> -->
    </div>
  </div>
</article>
