---
layout: 2022
id: materials
title: Web×IoT メイカーズチャレンジ PLUS 教材集
description: Web×IoT メイカーズチャレンジ PLUS の講習会の教材を公開しています。皆様の自習や復習、学校での授業などでぜひご活用ください。
---

<article>
  <div id="about-header-outer" class="outer outer-2">
    <div class="inner">
      <header id="header">
        <h1>
          <span>Web×IoT</span> <span>メイカーズチャレンジ</span>
          <span>PLUS</span>
          <span>教材集</span>
        </h1>
        <p>
          Web×IoT メイカーズチャレンジ PLUS の講習会の教材を公開しています。<br />
          皆様の自習や復習、学校での授業などでぜひご活用ください。
        </p>
      </header>
    </div>
  </div>
  <figure class="tiles">
    <img src="/static/images/2019/shinshu/handson-3.jpg" alt="" />
    <img src="/static/images/2021/tottori/handson-4.jpg" alt="" />
    <img src="/static/images/2019/kagawa/handson-4.jpg" alt="" />
  </figure>
  <div class="outer outer-2 material">
    <div class="inner">
      <header>
        <h2>CHIRIMEN ハンズオン教材</h2>
        <p>
          <a href="https://tutorial.chirimen.org/">CHIRIMEN</a>
          とは、ウェブブラウザーや Node.js の JavaScript からハードウェア制御が可能な IoT
          システム開発のプロトタイピング環境です。デジタルのソフトとフィジカルなハードを連携するデバイスを
          JavaScript だけで容易に実現できます。
        </p>
      </header>
      <section>
        <h3>Raspberry Pi 4 (Model B) を使った CHIRIMEN 環境での実習</h3>
        <p>
          Raspberry Pi 上のブラウザーでコードの編集と実行ができるので、Raspberry Pi 一式があれば、PC
          を用意することなく実習が可能です。別途、Raspberry Pi に接続する HDMI モニター、USB
          キーボード、USB マウスが必要です。
        </p>
        <div class="video">
          {% include youtube-video.inc.html id="dnwsNB8PXKA" %}
        </div>
        <p class="note">
          ※ 2021 年 12 月に鳥取県で開催された「Web×IoT メイカーズチャレンジ PLUS in 鳥取」で篠田
          有崇氏 (一般社団法人 WebDINO Japan) が講師を担当した IoT
          ハンズオン講習会のアーカイブ動画です。
        </p>
        <section>
          <h4>実習資料</h4>
          <ul>
            <li>
              <a href="https://tutorial.chirimen.org/raspi/"
                >Raspberry Pi 4 版 CHIRIMEN チュートリアル
              </a>
              <br />
              初めての方は、「基礎編 0. L チカしてみよう (初めての
              GPIO)」から順番に読み進めてください。
            </li>
          </ul>
        </section>
      </section>
      <section>
        <h3>Raspberry Pi Zero を使った CHIRIMEN 環境での実習</h3>
        <p>
          Raspberry Pi Zero 上の Node.js を JavaScript
          処理系として動作します。コード編集や環境設定は PC 上のブラウザーから USB
          経由で行え、Raspberry Pi Zero と PC があれば別途開発環境は必要ありません。
        </p>
        <div class="video">
          {% include youtube-video.inc.html id="Y0OaDyrnHV0" %}
        </div>
        <p class="note">
          ※ 2021 年 11 月に徳島県で開催された「Web×IoT メイカーズチャレンジ PLUS in 徳島」で宮崎
          典行氏 (KDDI 株式会社) が講師を担当した IoT ハンズオン講習会のアーカイブ動画です。
        </p>
        <section>
          <h4>実習資料</h4>
          <ul>
            <li>
              <a href="https://tutorial.chirimen.org/pizero/">
                Raspberry Pi Zero 版 CHIRIMEN チュートリアル
              </a>
            </li>
          </ul>
        </section>
      </section>
      <section>
        <h3>オンラインエディター「CodeSandbox」の使い方</h3>
        <p>
          Web アプリケーション開発のためのオンラインエディター CodeSandbox
          の使い方や機能を紹介する動画です。
        </p>
        <div class="video">
          {% include youtube-video.inc.html id="ZG6KS1qVv8U" %}
        </div>
        <p class="note">
          ※ 2021 年 1 月に鳥取県で開催された「Web×IoT メイカーズチャレンジ PLUS in 鳥取」で渡邉
          浩平氏 (一般社団法人 WebDINO Japan) が講師を担当した IoT
          ハンズオン講習会のアーカイブ動画です。
        </p>
        <section>
          <h4>実習資料</h4>
          <ul>
            <li><a href="https://codesandbox.io/">CodeSandbox</a></li>
            <li>
              <a href="https://csb-jp.github.io/">
                CodeSandbox ガイド (非公式日本語ドキュメント)
              </a>
            </li>
          </ul>
        </section>
      </section>
    </div>
  </div>
  <div class="outer outer-2 material">
    <div class="inner">
      <header>
        <h2>座学講義</h2>
      </header>
      <section>
        <h3>標準技術と OSS 利活用の意義 ～ IoT 時代に求められるスキルと知識 ～</h3>
        <div class="video">
          {% include youtube-video.inc.html id="E6xVF34klcE" %}
        </div>
        <p class="note">
          ※ 2021 年 12 月に鳥取県で行われた IoT
          システム開発を学ぶハンズオン講習会に先だって行われた深見 嘉明
          氏による座学講義のアーカイブ動画です。
        </p>
        <section>
          <h4>講義資料</h4>
          <ul>
            <li>
              <a
                href="https://github.com/webiotmakers/material/raw/master/Standardization-OSS/%E6%A8%99%E6%BA%96%E6%8A%80%E8%A1%93%E3%81%A8OSS%E5%88%A9%E6%B4%BB%E7%94%A8%E3%81%AE%E6%84%8F%E7%BE%A9_202203.pdf"
                target="_blank"
                >講義資料のダウンロード (PDF)</a
              >
            </li>
            <li>
              <a
                href="https://github.com/webiotmakers/material/raw/master/Standardization-OSS/%E6%A8%99%E6%BA%96%E6%8A%80%E8%A1%93%E3%81%A8OSS%E5%88%A9%E6%B4%BB%E7%94%A8%E3%81%AE%E6%84%8F%E7%BE%A9_202203.pptx"
                target="_blank"
                >講義資料のダウンロード (PowerPoint)</a
              >
            </li>
          </ul>
        </section>
      </section>
      <section>
        <h3>IoT を支える電波の基礎知識</h3>
        <div class="video">
          {% include youtube-video.inc.html id="0DG_T3Coh-o" %}
        </div>
        <p class="note">
          ※ 2022 年 2 月に信州 (長野県) で開催された講習会での不破 泰 教授 (信州大学 理事・副学長)
          による座学講義のアーカイブ動画です。
        </p>
        <section>
          <h4>講義資料</h4>
          <ul>
            <li>
              <a
                href="https://github.com/webiotmakers/material/raw/master/Radio-Use/IoT%E3%82%92%E6%94%AF%E3%81%88%E3%82%8B%E9%9B%BB%E6%B3%A2%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98_202203.pdf"
                target="_blank"
                >講義資料のダウンロード (PDF)</a
              >
            </li>
            <li>
              <a
                href="https://github.com/webiotmakers/material/raw/master/Radio-Use/IoT%E3%82%92%E6%94%AF%E3%81%88%E3%82%8B%E9%9B%BB%E6%B3%A2%E3%81%AE%E5%9F%BA%E7%A4%8E%E7%9F%A5%E8%AD%98_202203.pptx"
                target="_blank"
                >講義資料のダウンロード (PowerPoint)</a
              >
            </li>
          </ul>
        </section>
      </section>
    </div>
  </div>
</article>
