---
layout: 2023
id: materials
title: Web×IoT メイカーズチャレンジ PLUS 教材集
description: Web×IoT メイカーズチャレンジ PLUS の講習会の教材を公開しています。皆様の自習や復習、学校での授業などでぜひご活用ください。
---

<article>
  <div id="about-header-outer" class="outer outer-2">
    <div class="inner">
      <header id="header">
        <h1>
          <span>Web×IoT</span> <span>メイカーズチャレンジ</span>
          <span>PLUS</span>
          <span>教材集</span>
        </h1>
        <p>
          Web×IoT メイカーズチャレンジ PLUS の講習会の教材を公開しています。<br />
          皆様の自習や復習、学校での授業などでぜひご活用ください。
        </p>
      </header>
    </div>
  </div>
  <figure class="tiles">
    <img src="/static/images/2019/shinshu/handson-3.jpg" alt="" />
    <img src="/static/images/2021/tottori/handson-4.jpg" alt="" />
    <img src="/static/images/2019/kagawa/handson-4.jpg" alt="" />
  </figure>
  <div class="outer outer-2 material">
    <div class="inner">
      <header>
        <h2><span>Raspberry Pi</span> <span>Zero W 版</span> <span>CHIRIMEN ハンズオン</span></h2>
      </header>
      <section>
        <h3>誰でもできる IoT 開発基礎 CHIRIMEN Raspberry Pi Zero W チュートリアル (お試し編)</h3>
        <p>Raspberry Pi Zero 上の Node.js を JavaScript 処理系として動作する Raspberry Pi Zero 版の CHIRIMEN
          を短時間で試していただくためのチュートリアル動画です。コード編集や環境設定は PC 上のブラウザーから USB 経由で行え、Raspberry Pi Zero と PC があれば別途開発環境は必要ありません。</p>
        <section>
          <h4>実習資料</h4>
          <p>解説内容は <a href="https://tutorial.chirimen.org/pizero/">チュートリアルサイト</a> の内容に沿って実施していきます。</p>
        </section>
        <section>
          <h4>Step 1 ～ セットアップ ～</h4>
          <p>Raspberry Pi Zero W 版 CHIRIMEN を使用するための最初のステップ、PiZero と PC の接続の仕方と、Wi-Fi の設定方法について解説します。</p>
          <div class="video">
            {% include youtube-video.inc.html id="2BZTzCficSA" %}
          </div>
        </section>
        <section>
          <h4>Step 2 ～ L チカ ～</h4>
          <p>WebGPIO を使用したセンサーの使い方の初歩 L チカのやり方について解説します。</p>
          <div class="video">
            {% include youtube-video.inc.html id="L82Ge2cQSqE" %}
          </div>
        </section>
        <section>
          <h4>Step 3 ～ 温度センサー SHT30 ～</h4>
          <p>WebI2C を使用した温湿度センサー (SHT30) の使い方について解説します。</p>
          <div class="video">
            {% include youtube-video.inc.html id="mP72iJlHxIM" %}
          </div>
        </section>
        <section>
          <h4>講師</h4>
          <ul>
            <li>篠田 有崇 氏 (一般社団法人 WebDINO Japan)</li>
          </ul>
        </section>
      </section>
    </div>
  </div>
  <div class="outer outer-2 material">
    <div class="inner">
      <header>
        <h2><span>Raspberry Pi</span> <span>Zero W 版</span> <span>CHIRIMEN ハンズオン</span> <span>導入～応用編</span></h2>
      </header>
      <section>
        <h3>誰でもできる IoT 開発基礎 CHIRIMEN Raspberry Pi Zero W チュートリアル (ハンズオン講習会編)</h3>
        <p>2021 年 11 月に徳島県で開催された「Web×IoT メイカーズチャレンジ PLUS in 徳島」の IoT ハンズオン講習会 (遠隔講習) のアーカイブ動画です。</p>
        <div class="video">
          {% include youtube-video.inc.html id="Y0OaDyrnHV0" %}
        </div>
        <section>
          <h4>実習資料</h4>
          <p>以下、<a href="https://tutorial.chirimen.org/pizero/">CHIRIMEN チュートリアルサイト</a> の基礎編から実施していきます。</p>
          <ul>
            <li>基礎編: ① L チカをしてみよう、② センサーを使ってみよう</li>
            <li>遠隔制御編: ③ 遠隔制御してみよう、④ 自動起動に対応してみよう</li>
            <li>応用編: ⑤ 色々なセンサーを使ってみよう、⑥ 色々なセンサーをリモート対応にしてみよう</li>
          </ul>
        </section>
        <section>
          <h4>講師</h4>
          <ul>
            <li>宮崎 典行 氏 (KDDI 株式会社)</li>
          </ul>
        </section>
      </section>
    </div>
  </div>
  <div class="outer outer-2 material">
    <div class="inner">
      <header>
        <h2><span>Raspberry Pi 4 版</span> <span>CHIRIMEN ハンズオン</span></h2>
      </header>
      <section>
        <h3>誰でもできる IoT 開発基礎 Raspberry Pi 4 版 CHIRIMEN ハンズオン (講習会アーカイブ)</h3>
        <p>
          Raspberry Pi 上のブラウザーでコードの編集と実行を行う Raspberry Pi 4 (Model B) 版の CHIRIMEN 環境でのハンズオン講習の動画です。 Raspberry Pi に HDMI
          モニター、USB キーボード、USB マウスを直接接続して実習を行うため、ノート PC を使わずに講習を行うことができます。
        </p>
        <p>2021 年 12 月に鳥取県で開催された「Web×IoT メイカーズチャレンジ PLUS in 鳥取」の IoT ハンズオン講習会 (遠隔講習) のアーカイブ動画です。</p>
        <div class="video">
          {% include youtube-video.inc.html id="dnwsNB8PXKA" %}
        </div>
        <section>
          <h4>実習資料</h4>
          <p>以下、<a href="https://tutorial.chirimen.org/raspi/">CHIRIMEN チュートリアルサイト</a> の基礎編から実施していきます。</p>
          <ul>
            <li>基礎編: ① L チカしてみよう (初めての GPIO)、② GPIO の使い方、③ センサーを使ってみよう (初めての I2C)</li>
            <li>応用編: ④ 色々なセンサーを使ってみよう</li>
          </ul>
        </section>
        <section>
          <h4>講師</h4>
          <ul>
            <li>篠田 有崇 氏 (一般社団法人 WebDINO Japan)</li>
          </ul>
        </section>
      </section>
      <section>
        <h3>オンラインエディター「CodeSandbox」の使い方</h3>
        <p>
          Web アプリケーション開発のためのオンラインエディター CodeSandbox
          の使い方や機能を紹介する動画です。
        </p>
        <p>2021 年 12 月に鳥取県で開催された「Web×IoT メイカーズチャレンジ PLUS in 鳥取」の IoT ハンズオン講習会 (遠隔講習) 中のアーカイブ動画です。</p>
        <div class="video">
          {% include youtube-video.inc.html id="ZG6KS1qVv8U" %}
        </div>
        <section>
          <h4>実習資料</h4>
          <ul>
            <li><a href="https://codesandbox.io/">CodeSandbox</a></li>
            <li><a href="https://csb-jp.github.io/">CodeSandbox ガイド (非公式日本語ドキュメント)</a></li>
          </ul>
        </section>
        <section>
          <h4>講師</h4>
          <ul>
            <li>渡邉 浩平 氏 (一般社団法人 WebDINO Japan)</li>
          </ul>
        </section>
      </section>
    </div>
  </div>
  <div class="outer outer-2 material">
    <div class="inner">
      <header>
        <h2>座学講義</h2>
      </header>
      <section>
        <h3>標準技術講座 ～ ウェブ標準技術や OSS 活用がもたらす世界 ～</h3>
        <p>2022 年 11 月に徳島と香川で行われた講習会での対談形式の座学講義のアーカイブ動画です。</p>
        <div class="video">
          {% include youtube-video.inc.html id="8Rym0pNDgeI" %}
        </div>
        <section>
          <h4>講義資料</h4>
          <ul>
            <li>講義資料のダウンロード (PDF)</li>
          </ul>
        </section>
        <section>
          <h4>講師</h4>
          <ul>
            <li>高木 悟 氏 (KDDI 株式会社 次世代運用推進本部 運用システム開発部 シニアエキスパート ／ Web×IoT メイカーズチャレンジ PLUS 中央実行委員会 主査)</li>
            <li>瀧田 佐登子 氏 (一般社団法人 WebDINO Japan 代表理事 ／ Web×IoT メイカーズチャレンジ PLUS 中央実行委員会 副査)</li>
          </ul>
        </section>
      </section>
      <section>
        <h3>標準技術と OSS 利活用の意義 ～ IoT 時代に求められるスキルと知識 ～</h3>
        <div class="video">
          {% include youtube-video.inc.html id="6DPtcRMdoj4" %}
        </div>
        <section>
          <h4>講義資料</h4>
          <ul>
            <li>
              <a
                href="https://github.com/webiotmakers/material/raw/master/Standardization-OSS/%E6%A8%99%E6%BA%96%E6%8A%80%E8%A1%93%E3%81%A8OSS%E5%88%A9%E6%B4%BB%E7%94%A8%E3%81%AE%E6%84%8F%E7%BE%A9_202203.pdf" target="_blank">
                講義資料のダウンロード (PDF)
              </a>
            </li>
            <li>
              <a
                href="https://github.com/webiotmakers/material/raw/master/Standardization-OSS/%E6%A8%99%E6%BA%96%E6%8A%80%E8%A1%93%E3%81%A8OSS%E5%88%A9%E6%B4%BB%E7%94%A8%E3%81%AE%E6%84%8F%E7%BE%A9_202203.pptx" target="_blank">
                講義資料のダウンロード (PowerPoint)
              </a>
            </li>
          </ul>
        </section>
        <section>
          <h4>講師</h4>
          <ul>
            <li>深見 嘉明 氏 (東京理科大学 経営学部 国際デザイン経営学科 准教授)</li>
          </ul>
        </section>
      </section>
    </div>
  </div>
</article>
