---
---

h2,
h3,
h4 {
  word-break: keep-all;
}

.inner {
  & > section {
    & > header {
      margin-bottom: 48px;

      p {
        margin: 0;
      }
    }
  }

  @media (max-width: 767px) {
    margin: 0;

    & > section {
      margin: 0;
    }
  }
}

svg {
  * {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
  }
}

.col {
  box-sizing: border-box;

  &.text {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1023px) {
      padding: 32px;
    }
  }
}

#features,
#record,
#schedule,
#numbers,
#voices,
#faq {
  & > header {
    h2 {
      &::after {
        display: block;
        margin: 32px auto 32px;
        border-radius: 4px;
        width: 160px;
        height: 2px;
        background-color: #fff;
        content: '';
      }
    }

    p {
      margin: 0 48px;
      word-break: keep-all;

      @media (max-width: 767px) {
        margin: 0;
        word-break: normal;
      }
    }
  }
}

#record,
#schedule,
#numbers,
#faq {
  & > header {
    h2 {
      color: #f5ce52;
    }
  }
}

#about-outer,
#skills-outer {
  background-color: #f5ce52;

  .inner {
    margin: 0;
    padding: 0;
    max-width: none;

    section {
      margin: 0;
    }
  }

  .row {
    margin: 0;
  }

  .col {
    margin: 0;

    &.text {
      width: 40%;
      min-width: 400px;
      flex: none;
    }

    &.image {
      flex: auto;
      width: 60%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    @media (max-width: 1023px) {
      flex-direction: column;

      &.text {
        width: 100%;
        min-width: auto;
      }

      &.image {
        width: 100%;
        height: auto;
        max-height: 480px;
      }
    }
  }

  h2 {
    text-align: left;
  }
}

#features-outer,
#tools-outer,
#schedule-outer,
#numbers-outer,
#faq-outer {
  color: #fff;
  background-color: #262626;
  background-image: url('/static/images/2022/home/background-1.svg');

  .inner {
    padding: 32px;
    max-width: none;
  }
}

#home-news-outer {
  .inner {
    padding: 32px;
  }
}

#home-news {
  margin: 16px 0;

  ul {
    margin: 16px 0;
    padding: 0;
    list-style-position: inside;
  }

  h4 {
    margin: 16px 0;

    a {
      small {
        font-size: 0.7em;
        vertical-align: 0.2em;
      }
    }
  }
}

#features {
  h2 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:not(.visible) li {
      opacity: 0;
      transform: scale(80%);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }

    li {
      display: flex;
      align-items: center;
      gap: 32px;
      transition-property: all;
      transition-duration: 400ms;

      &:nth-child(1) {
        transition-delay: 200ms;
      }

      &:nth-child(2) {
        transition-delay: 400ms;
      }

      &:nth-child(3) {
        transition-delay: 600ms;
      }

      &:nth-child(4) {
        transition-delay: 800ms;
      }

      &:nth-child(5) {
        transition-delay: 1000ms;
      }

      @media (min-width: 768px) {
        max-width: calc(50% - 16px);
      }

      @media (min-width: 1440px) {
        max-width: 30%;
      }

      &::before {
        display: block;
        font-size: 6em;
        font-style: italic;
        line-height: 1;
        content: attr(data-number);
      }

      strong {
        display: block;
        width: fit-content;
        color: #f5ce52;
        font-size: 2em;
        font-weight: 700;
      }
    }
  }
}

#record-outer {
  color: #fff;
  background-color: #2e3a42;
  background-image: url('/static/images/backgrounds/board-texture-1.jpg');
  background-size: cover;
  text-align: center;

  .inner {
    padding: 32px;
    max-width: none;
  }
}

#record {
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    &:not(.visible) li {
      opacity: 0;
      transform: translateY(10%);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      line-height: 1.25;
      white-space: nowrap;
      min-width: 160px;
      transition-property: all;
      transition-duration: 400ms;

      &:nth-child(1) {
        transition-delay: 200ms;
      }

      &:nth-child(2) {
        transition-delay: 400ms;
      }

      &:nth-child(3) {
        transition-delay: 600ms;
      }

      &:nth-child(4) {
        transition-delay: 800ms;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 80px;
        width: 80px;
        height: 80px;
        color: #fff;
        background-color: #33a02c;

        svg {
          width: 48px;
        }
      }

      span {
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
        font-weight: 700;
        word-break: keep-all;
      }

      strong {
        margin: 0 0.1ex;
        color: #33a02c;
        font-size: 2.5rem;
      }
    }
  }
}

#tools-outer {
  background-color: #000;
  background-image: url('/static/images/2022/home/rasp-board.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  // Safari for iPhone/iPad doesn’t support `fixed`
  @supports (-webkit-touch-callout: inherit) {
    background-attachment: scroll;
  }

  .inner {
    overflow: hidden;
    -webkit-backdrop-filter: brightness(30%);
    backdrop-filter: brightness(30%);

    @media (max-width: 767px) {
      margin: 0;
      padding: 0;
    }
  }
}

#tools {
  position: relative;
  margin: 48px auto;
  width: 100%;
  height: 640px;
  text-align: center;

  @media (max-width: 1279px) {
    transform: scale(70%);
  }

  @media (max-width: 1023px) {
    transform: scale(60%);
  }

  @media (max-width: 767px) {
    transform: scale(50%);
  }

  &:not(.visible) header {
    opacity: 0;
    transform: scale(80%);
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 160px);
    width: 320px;
    height: 320px;
    transition-duration: 600ms;
    transition-delay: 1400ms;

    h2 {
      margin: 0;
      font-size: 2rem;
    }
  }

  &:not(.visible) #sensors svg {
    opacity: 0;
    transform: rotate(1turn) scale(200%);
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  #sensors {
    position: absolute;
    top: calc(50% - 320px);
    left: calc(50% - 320px);
    width: 640px;
    height: 640px;

    svg {
      width: 640px;
      height: 640px;
      transition-property: all;
      transition-duration: 2000ms;
      transition-delay: 200ms;
    }
  }

  &:not(.visible) #standards-1 svg,
  &:not(.visible) #standards-2 svg {
    opacity: 0;
    transform: scale(400%);
    transition-duration: 0ms !important;
    transition-delay: 0ms !important;
  }

  #standards-1 {
    position: absolute;
    inset: 0;

    svg {
      position: absolute;
      width: 160px;
      transition-property: all;
      transition-duration: 400ms;

      &:nth-child(1) {
        top: 0;
        right: calc(50% + 320px);
        transition-delay: 200ms;

        @media (max-width: 767px) {
          top: -160px;
          right: calc(50% + 160px);
        }
      }

      &:nth-child(2) {
        bottom: 0;
        left: calc(50% + 320px);
        transition-delay: 400ms;

        @media (max-width: 767px) {
          bottom: -160px;
          left: calc(50% + 160px);
        }
      }
    }
  }

  #standards-2 {
    position: absolute;
    inset: 0;

    svg {
      width: 80px;
      fill: #fff;
      position: absolute;
      transition-property: all;
      transition-duration: 300ms;

      &:nth-child(1) {
        top: -20px;
        left: calc(50% + 260px);
        transition-delay: 900ms;

        @media (max-width: 767px) {
          top: -240px;
          left: calc(50% - 100px);
        }
      }

      &:nth-child(2) {
        top: 100px;
        left: calc(50% + 380px);
        transition-delay: 1400ms;

        @media (max-width: 767px) {
          top: -320px;
          left: calc(50% + 40px);
        }
      }

      &:nth-child(3) {
        top: 220px;
        left: calc(50% + 360px);
        transition-delay: 1000ms;

        @media (max-width: 767px) {
          top: -120px;
          left: calc(50% + 100px);
        }
      }

      &:nth-child(4) {
        top: 340px;
        left: calc(50% + 420px);
        transition-delay: 1200ms;

        @media (max-width: 767px) {
          top: -240px;
          left: calc(50% + 220px);
        }
      }

      &:nth-child(5) {
        bottom: 340px;
        right: calc(50% + 420px);
        transition-delay: 1100ms;

        @media (max-width: 767px) {
          bottom: -100px;
          right: calc(50% + 220px);
        }
      }

      &:nth-child(6) {
        bottom: 200px;
        right: calc(50% + 360px);
        transition-delay: 1500ms;

        @media (max-width: 767px) {
          bottom: -140px;
          right: calc(50% - 20px);
        }
      }

      &:nth-child(7) {
        bottom: 60px;
        right: calc(50% + 400px);
        transition-delay: 1300ms;

        @media (max-width: 767px) {
          bottom: -240px;
          right: calc(50% + 120px);
        }
      }

      &:nth-child(8) {
        bottom: -20px;
        right: calc(50% + 280px);
        transition-delay: 800ms;

        @media (max-width: 767px) {
          bottom: -300px;
          right: calc(50% - 120px);
        }
      }
    }
  }
}

#schedule-outer {
  .inner {
    overflow: hidden;
    padding: 32px 32px 0;
  }
}

#schedule {
  margin-bottom: 0;

  header {
    text-align: center;

    h2 {
      color: #f5ce52;
    }
  }

  & > section {
    position: relative;
    margin: 0;
    padding: 0 0 64px 64px;

    header,
    h3,
    h4 {
      text-align: left;
    }

    h3 {
      @media (max-width: 767px) {
        font-size: 2rem;
      }
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      top: 16px;
      bottom: -16px;
      left: 18px;
      width: 4px;
      background-image: linear-gradient(to bottom, #f5ce5200, #f5ce52);
    }

    &::after {
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      border: 4px solid #fff;
      background-color: #262626;
      box-shadow: 0 0 8px 2px #f5ce52;
    }
  }

  .row {
    gap: 48px;
    margin: 32px 0 0;

    @media (min-width: 800px) {
      display: flex;
    }

    &:not(.visible) section {
      opacity: 0;
      transform: translateX(-10%);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }

    section {
      display: flex;
      gap: 32px;
      transition-property: all;
      transition-duration: 400ms;

      @media (max-width: 599px), (min-width: 800px) and (max-width: 1279px) {
        flex-direction: column-reverse;
      }

      h4 {
        color: #f5ce52;
        text-align: left;

        @media (max-width: 767px) {
          font-size: 1.5rem;
        }
      }

      img {
        flex: none;
        border-radius: 8px;
        width: 256px;
        max-width: 50%;
        height: fit-content;
        aspect-ratio: 1 / 1;
        object-fit: cover;

        @media (max-width: 599px), (min-width: 800px) and (max-width: 1279px) {
          max-width: 100%;
        }
      }
    }
  }

  .col {
    margin: 0;
    width: calc(50% - 24px);

    &:nth-child(1) section {
      transition-delay: 200ms;
    }

    &:nth-child(2) section {
      transition-delay: 400ms;
    }

    @media (max-width: 799px) {
      margin: 32px 0 0;
      width: 100%;
    }

    @media (max-width: 1279px) {
      // width: 100%;
      flex: none;
    }
  }
}

#skills-outer {
  .row {
    flex-direction: row-reverse;
  }
}

#skills {
  ul {
    margin: 32px 0 0;
    padding: 0;
    list-style-type: none;

    &:not(.visible) li {
      opacity: 0;
      transform: translateX(10%);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
      overflow: hidden;
    }

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0;
      border-bottom: 1px dashed #262626;
      padding: 8px;
      font-size: 1.25rem;
      line-height: 1.5;
      font-weight: bold;
      transition-property: all;
      transition-duration: 400ms;

      &:nth-child(1) {
        transition-delay: 200ms;
      }

      &:nth-child(2) {
        transition-delay: 400ms;
      }

      &:nth-child(3) {
        transition-delay: 600ms;
      }

      &:nth-child(4) {
        transition-delay: 800ms;
      }

      &:nth-child(5) {
        transition-delay: 1000ms;
      }

      &:first-child {
        border-top: 1px dashed #262626;
      }

      svg {
        flex: none;
        width: 24px;
        height: 24px;
      }
    }
  }
}

#numbers {
  & > header {
    h2 {
      color: #f5ce52;
    }

    p {
      font-size: 14px;
      text-align: center;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 64px;

    & > * {
      width: 280px;
    }

    &:not(.visible) section {
      opacity: 0;
      transform: translateY(10%);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }
  }

  section {
    display: flex;
    gap: 32px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    transition-property: all;
    transition-duration: 400ms;

    &:nth-child(1) {
      transition-delay: 200ms;
    }

    &:nth-child(2) {
      transition-delay: 400ms;
    }

    &:nth-child(3) {
      transition-delay: 600ms;
    }

    header {
      flex: auto;
    }

    h3 {
      span {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0;
      }
    }

    p {
      margin: 0;
    }
  }

  svg {
    flex: none;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

#voices-outer {
  color: #fff;
  background-color: #000;
  background-image: url('/static/images/2022/home/voices-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  // Safari for iPhone/iPad doesn’t support `fixed`
  @supports (-webkit-touch-callout: inherit) {
    background-attachment: scroll;
  }

  .inner {
    padding: 32px;
    max-width: none;
  }
}

#voices {
  & > header {
    p {
      font-size: 14px;
      text-align: center;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &:not(.visible) li {
      opacity: 0;
      transform: scale(80%);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      box-sizing: border-box;
      overflow: hidden;
      margin: 0;
      border-radius: 8px;
      padding: 32px;
      width: 100%;
      color: #000;
      background-color: #fff9;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      transition-property: all;
      transition-duration: 400ms;
      transition-delay: 200ms;

      @media (max-width: 767px) {
        padding: 24px;
      }

      @media (min-width: 1024px) {
        width: calc(50% - 8px);
      }

      @media (min-width: 1440px) {
        width: calc(33% - 8px);
      }

      span {
        font-size: 14px;
        text-align: right;
      }
    }
  }
}

#awards-outer {
  background-color: #f5ce52;

  .inner {
    margin: 0;
    padding: 0;
    max-width: none;
  }
}

#awards {
  margin: 0;

  & > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px;

    @media (max-width: 767px) {
      padding: 32px;
    }

    header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 48px;
      text-align: center;

      p {
        margin-top: 8px;
        text-align: center;
      }

      @media (max-width: 767px) {
        padding: 32px;
      }
    }

    &:not(.visible) > section {
      opacity: 0;
      transform: scaleX(0);
      transition-duration: 0ms !important;
      transition-delay: 0ms !important;
    }

    & > section {
      transition-property: all;
      transition-duration: 400ms;

      &:nth-of-type(1) {
        transition-delay: 200ms;
      }

      &:nth-of-type(2) {
        transition-delay: 400ms;
      }

      &:nth-of-type(3) {
        transition-delay: 600ms;
      }

      &:nth-of-type(4) {
        transition-delay: 800ms;
      }

      &:nth-of-type(5) {
        transition-delay: 1000ms;
      }
    }

    & > * {
      position: relative;
      box-sizing: border-box;
      overflow: hidden;
      width: 100%;

      @media (min-width: 768px) {
        width: calc(50% - 16px);
      }

      @media (min-width: 1280px) {
        width: calc(100% / 3);
      }

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      h3 {
        position: absolute;
        inset: 32px 32px auto auto;
        margin: 0;
        font-size: 5rem;
        writing-mode: tb;
        color: #fff9;

        @media (max-width: 767px) {
          inset: 24px 24px auto auto;
        }
      }

      p {
        margin: 0;
        text-align: right;
      }

      div {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 32px;
        color: #fff;
        background-image: linear-gradient(to bottom, transparent, transparent, #000c),
          linear-gradient(to right, transparent, transparent, #000c);
        aspect-ratio: 1 / 1;

        @media (max-width: 767px) {
          padding: 24px;
        }
      }
    }
  }
}

#home-locations {
  @media (max-width: 767px) {
    padding: 32px;
  }
}

#faq {
  .col {
    width: calc(50% - 16px);
  }

  section {
    &:not(:last-child) {
      margin-bottom: 32px;
      padding-bottom: 16px;
      border-bottom: 1px dashed #fff;
    }

    h3 {
      font-size: 1.25rem;
      line-height: 1.5;
      text-align: left;
    }
  }
}

#supporters-outer {
  .inner {
    padding: 32px;
    max-width: none;
  }
}

#supporters {
  h2 {
    text-transform: uppercase;
  }

  h3 {
    color: #696969;

    & + p {
      margin: 0 auto;
      max-width: 768px;
      color: #666;
      font-size: 14px;
      text-align: center;
    }
  }

  section {
    margin: 64px 0;
  }
}
