---
---

#outline table h3 {
  display: inline;
  margin: 0;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: normal;
}

#join {
  text-align: center;
}

#join .placeholder {
  font-size: 24px;
  font-weight: bold;
}

@media screen {
  body.wimc18 #header-outer {
    min-height: 320px;
    background-image: url('/static/images/2018/template/cover-small.jpg');
  }

  body#local-ibaraki.wimc18 #header h1 {
    background-image: url('/static/images/2018/ibaraki/wordmark.png');
  }

  body#local-kagawa.wimc18 #header h1 {
    background-image: url('/static/images/2018/kagawa/wordmark.png');
  }

  body#local-maebashi.wimc18 #header h1 {
    background-image: url('/static/images/2018/maebashi/wordmark.png');
  }

  body#local-okinawa.wimc18 #header h1 {
    background-image: url('/static/images/2018/okinawa/wordmark.png');
  }

  body#local-sapporo.wimc18 #header h1 {
    background-image: url('/static/images/2018/sapporo/wordmark.png');
  }

  body#local-sendai.wimc18 #header h1 {
    background-image: url('/static/images/2018/sendai/wordmark.png');
  }

  body#local-tokyo.wimc18 #header h1 {
    background-image: url('/static/images/2018/tokyo/wordmark.png');
  }

  body#local-tottori.wimc18 #header h1 {
    background-image: url('/static/images/2018/tottori/wordmark.png');
  }

  body#local-yokosuka.wimc18 #header h1 {
    background-image: url('/static/images/2018/yokosuka/wordmark.png');
  }

  #intro-outer {
    background-image: url('/static/images/backgrounds/board-texture-1.jpg');
  }

  #intro h2,
  #join h2 {
    position: absolute;
    left: -9999px;
  }

  #intro {
    p {
      margin: 12px 0;

      &:first-of-type {
        margin-top: 0;
      }
    }

    li {
      &:not(:first-child) {
        margin-top: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
  }

  #outline table ~ p {
    text-align: center;
  }

  #join-outer {
    background-image: url('/static/images/backgrounds/board-texture-3.jpg');
  }

  #join .button.cta {
    font-size: 24px;
    display: inline-block;
  }

  #footer nav {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 639px) {
  #join .button.cta {
    font-size: 1rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  body.wimc18 #header-outer {
    background-image: url('/static/images/2018/template/cover-small@2x.jpg');
  }

  body#local-ibaraki.wimc18 #header h1 {
    background-image: url('/static/images/2018/ibaraki/wordmark@2x.png');
  }

  body#local-kagawa.wimc18 #header h1 {
    background-image: url('/static/images/2018/kagawa/wordmark@2x.png');
  }

  body#local-maebashi.wimc18 #header h1 {
    background-image: url('/static/images/2018/maebashi/wordmark@2x.png');
  }

  body#local-okinawa.wimc18 #header h1 {
    background-image: url('/static/images/2018/okinawa/wordmark@2x.png');
  }

  body#local-sapporo.wimc18 #header h1 {
    background-image: url('/static/images/2018/sapporo/wordmark@2x.png');
  }

  body#local-sendai.wimc18 #header h1 {
    background-image: url('/static/images/2018/sendai/wordmark@2x.png');
  }

  body#local-tokyo.wimc18 #header h1 {
    background-image: url('/static/images/2018/tokyo/wordmark@2x.png');
  }

  body#local-tottori.wimc18 #header h1 {
    background-image: url('/static/images/2018/tottori/wordmark@2x.png');
  }

  body#local-yokosuka.wimc18 #header h1 {
    background-image: url('/static/images/2018/yokosuka/wordmark@2x.png');
  }
}
