
#join {
  text-align: center;
}

#join .placeholder {
  font-size: 24px;
  font-weight: bold;
}

@media screen {
  body#local-tottori #header-outer {
    background-image: url(/static/images/backgrounds/raspberry-pi.jpg);
  }

  body#local-maebashi #header h1 {
    background-image: url(/static/images/general/wordmark-maebashi.png);
  }

  body#local-okinawa #header h1 {
    background-image: url(/static/images/general/wordmark-okinawa.png?v=20171029);
  }

  body#local-tottori #header h1 {
    background-image: url(/static/images/general/wordmark-tottori.png?v=20171029);
  }

  #intro-outer {
    background-image: url(/static/images/backgrounds/board-texture-1.jpg);
  }

  #intro h2,
  #join h2 {
    position: absolute;
    left: -9999px;
  }

  #intro p {
    margin: 12px 0;
  }

  #intro img {
    display: block;
    margin: 12px auto;
    max-width: 100%;
    height: auto;
  }

  #outline table ~ p {
    text-align: center;
  }

  #join-outer {
    background-image: url(/static/images/backgrounds/board-texture-3.jpg);
  }

  #join .button.cta {
    font-size: 24px;
    display: inline-block;
  }

  #footer nav {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 639px) {
  #join .button.cta {
    font-size: 1rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  body#local-maebashi #header h1 {
    background-image: url(/static/images/general/wordmark-maebashi@2x.png);
  }

  body#local-okinawa #header h1 {
    background-image: url(/static/images/general/wordmark-okinawa@2x.png?v=20171029);
  }

  body#local-tottori #header h1 {
    background-image: url(/static/images/general/wordmark-tottori@2x.png?v=20171029);
  }
}
