#outline table h3 {
  display: inline;
  margin: 0;
  font-size: inherit;
  font-weight: bold;
  letter-spacing: normal;
}

#join {
  text-align: center;
}

#join .placeholder {
  font-size: 24px;
  font-weight: bold;
}

@media screen {
  body#local-sendai #header h1 {
    background-image: url(/static/images/sendai/wordmark.png);
  }

  #intro-outer {
    background-image: url(/static/images/backgrounds/board-texture-1.jpg);
  }

  #intro h2,
  #join h2 {
    position: absolute;
    left: -9999px;
  }

  #intro p {
    margin: 12px 0;
  }

  #intro p:first-of-type {
    margin-top: 0;
  }

  #intro img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  #outline table ~ p {
    text-align: center;
  }

  #join-outer {
    background-image: url(/static/images/backgrounds/board-texture-3.jpg);
  }

  #join .button.cta {
    font-size: 24px;
    display: inline-block;
  }

  #footer nav {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 639px) {
  #join .button.cta {
    font-size: 1rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  body#local-sendai #header h1 {
    background-image: url(/static/images/sendai/wordmark@2x.png);
  }
}
