---
---

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src:
    url('/static/fonts/fontawesome-webfont.woff2') format('woff2'),
    url('/static/fonts/fontawesome-webfont.woff') format('woff');
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em;
  line-height: 1.25;
  font-weight: 400;
  letter-spacing: -0.03em;
  text-align: center;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: inline-block;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

p,
li,
th,
td,
dt,
dd {
  line-height: 1.75;
}

table {
  margin: 16px 0;
  width: 100%;
  border-collapse: collapse;
}

caption {
  margin: 0 0 8px;
  font-size: 1.2rem;
  font-weight: 700;
}

th,
td {
  border-width: 2px;
  border-style: solid;
  padding: 8px 12px;
}

tbody tr th {
  width: 6em;
  white-space: nowrap;
}

table ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 24px;
}

strong,
th,
dt {
  font-weight: 700;
}

em {
  font-style: normal;
}

ul.plain {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: 0;
    padding: 0;
  }

  &.spaced li {
    margin: 8px 0;
  }
}

ul.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &.labels {
    flex-wrap: nowrap;

    li {
      margin: 0 16px;
    }

    span {
      display: inline-block;
    }

    a {
      width: auto;
      height: auto;
    }
  }

  li {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
    }
  }

  &.buttons li {
    margin: 16px;
    align-items: flex-start;
  }

  &.logos {
    margin: 64px 0;
    gap: 64px;
    justify-content: space-evenly;

    li {
      margin: 0;
      width: auto;
      max-width: 100%;

      figure,
      figure img {
        margin: 0;
      }

      figcaption {
        margin: 16px 0 0;
      }
    }
  }

  &.pics li {
    margin: 16px;
    width: 160px;

    a {
      flex-direction: column;
      height: auto;

      * {
        pointer-events: none;
      }
    }
  }
}

img {
  vertical-align: top;
}

figure {
  margin: 16px 0;
  text-align: center;

  figcaption {
    margin: 0 32px;
    font-size: 14px;
    opacity: 0.6;
  }

  img {
    display: block;
    margin: 12px auto;
    max-width: 100%;
    height: auto;
  }
}

[role='button'] * {
  display: inline-block; /* for IE11 */
  pointer-events: none;
}

.button {
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  padding: 4px 8px;

  &.cta {
    padding: 8px 24px;
  }
}

.cta + small {
  display: block;
  margin-top: 8px;
}

.icon.fa {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: FontAwesome;
  vertical-align: top;
}

.inner > section {
  margin: 48px 16px;

  & > section {
    margin: 40px 0;

    & > section {
      margin: 32px 0;
    }
  }
}

aside.latest-link {
  padding: 16px;
  color: #fff;
  background-color: #096cb3;
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: inherit;
    font-weight: bold;
  }
}

#header {
  text-align: center;
}

#footer {
  font-size: 0.875rem;
  text-align: center;
  color: #666;

  h2 {
    position: absolute;
    left: -99999px;
    height: 0;
  }
}

@media screen {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  body.overlaying {
    overflow: hidden;
  }

  a {
    transition: all 0.3s;

    &[aria-disabled='true'] {
      pointer-events: none !important;
      filter: grayscale(1) opacity(0.5) !important;
    }
  }

  a:link,
  a:visited {
    color: #085c99;
    text-decoration: none;
  }

  a:hover,
  a:focus,
  a:active {
    color: #096cb3;
    text-decoration: underline;
  }

  .outer {
    overflow: hidden;
  }

  .outer-1 {
    background-color: #f1efe8;
    background-image: url('/static/images/backgrounds/sand.png');
  }

  .outer-2 {
    color: #eee;
    background-color: #2e3a42;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .outer-2 a:link,
  .outer-2 a:visited,
  .outer-2 a:hover,
  .outer-2 a:focus,
  .outer-2 a:active {
    color: #40afff;
  }

  .outer-3 {
    background-color: #f5ce52;
  }

  .outer-4 {
    color: #fff;
    background-color: #096cb3;
  }

  .inner {
    width: 960px;
    margin: 0 auto;

    & > section > section.bold {
      background-color: rgba(0, 0, 0, 0.2);
      margin: 40px -32px;
      padding: 32px;

      & > :last-child {
        margin: 0;
      }
    }
  }

  .hr {
    overflow: hidden;
    margin: 32px 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2;
  }

  .outer-2 .hr {
    background-color: #fff;
  }

  .row {
    display: flex;
    margin: 0 -16px;
  }

  .col {
    margin: 0 16px;
    width: 448px;

    &.full {
      margin: 0 16px;
      width: 100%;
    }
  }

  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 32px;
    -webkit-column-gap: 32px;
    column-gap: 32px;

    &.nobreak > * {
      overflow: hidden;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  .button.cta {
    display: inline-block;
    border-width: 0;
    color: #fff !important;
    background-color: #0095dd;
    text-decoration: none !important;
    transition: all 0.3s;

    &:hover,
    &:focus,
    &:active {
      background-color: #33aae4;
    }

    &.large {
      font-size: 24px;
    }
  }

  #header-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 520px;
    color: #eee;
    background-color: #333;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

    & > .inner {
      flex: auto; /* Work around IE11 bug */
    }
  }

  body.wimc17 #header-outer {
    background-image: url('/static/images/2017/template/cover.jpg');
  }

  #header {
    h1 {
      margin: 0 auto;
      height: 400px;
      text-indent: -99999px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    hgroup h3 {
      margin: 0.5em 0 0;
      font-weight: normal;
    }
  }

  #footer {
    margin: 40px 16px;

    p {
      margin: 4px 0 0;
      line-height: 1.5;

      span {
        display: inline-block;
      }
    }
  }

  #outline {
    th,
    td {
      border-color: #c8c6b5;
    }
  }
}

@media screen and (max-width: 1023px) {
  .row {
    display: block;
    margin: 0;
  }

  .col {
    margin: 16px 0;
    width: 100%;

    &.full {
      margin: 16px 0;
    }
  }

  .columns {
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .inner {
    width: 720px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .inner {
    margin: 0 12px;
    width: auto;

    & > section {
      margin: 24px 12px;

      & > section.bold {
        margin: 24px -12px;
        padding: 24px 12px;
      }
    }
  }

  #header-outer {
    min-height: 320px;
  }

  #header h1 {
    margin: 0 auto;
    height: 240px;
  }
}

@media screen and (max-width: 639px) {
  tr,
  th,
  td {
    display: block;
    box-sizing: border-box;
    width: 100% !important;
  }

  th {
    border-width: 0 !important;
    padding: 0;
  }

  td {
    border-width: 0 !important;
    padding: 8px 0;
  }

  ul.grid.labels {
    flex-direction: column;

    li {
      margin: 0;
    }
  }

  ul.grid.logos {
    margin: 48px 0;
    gap: 48px;
  }

  #outline th {
    background-color: #c8c6b5;
  }
}

@media print {
  html {
    font-size: 8pt;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .inner > section > section {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .col {
    margin: 16px 0;
  }
}
