<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="https://webiotmakers.github.io/static/images/2019/template/ogp.jpg">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/2019.css">
    <link rel="stylesheet" href="/static/styles/local.css">
    <link rel="stylesheet" href="/static/styles/report.css">
    <link rel="icon" type="image/png" href="/static/images/general/favicon.png">
    <link rel="apple-touch-icon" href="/static/images/general/apple-touch-icon.png">
  </head>
  <body class="wimc19" id="{{ page.id }}">
    <div id="body-wrapper">
      <header id="mobile-header">
        <a href="#" class="menu" role="button" aria-controls="menu" aria-label="メニュー"><span class="icon fa" aria-hidden="true">&#xf0c9;</span></a>
        <h1 class="logo"><a href="/2019/">Web×IoT メイカーズチャレンジ 2019-20</a></h1>
      </header>
      <aside class="drawer" id="menu">
        <a href="#" class="close" role="button" aria-controls="menu" aria-label="閉じる"><span aria-hidden="true">×</span></a>
        <h1 class="logo"><a href="/2019/">Web×IoT メイカーズチャレンジ 2019-20</a></h1>
        <nav>
          <section id="side-locations">
            <h2>開催地域</h2>
            <ul>
              <li><a href="/2019/sapporo/">札幌</a></li>
              <li><a href="/2019/sendai/">仙台</a></li>
              <li><a href="/2019/ibaraki/">茨城</a></li>
              <li><a href="/2019/gunma/">群馬</a></li>
              <li><a href="/2019/yokosuka/">横須賀</a></li>
              <li><a href="/2019/shinshu/">信州</a></li>
              <li><a href="/2019/ishikawa/">石川</a></li>
              <li><a href="/2019/tottori/">鳥取</a></li>
              <li><a href="/2019/tokushima/">徳島</a></li>
              <li><a href="/2019/kagawa/">香川</a></li>
              <li><a href="/2019/okinawa/">沖縄</a></li>
            </ul>
          </section>
          <section id="side-about">
            <h2>開催概要</h2>
            <ul>
              <li><a href="/2019/about/">本事業について</a></li>
              <li><a href="https://twitter.com/WebIoTmakers" class="twitter" aria-label="Twitter"><span class="icon fa" aria-hidden="true">&#xf099;</span></a></li>
            </ul>
          </section>
          <section id="side-history">
            <h2>過去の開催</h2>
            <ul>
              <li><a href="/2018/">2018 年度</a></li>
              <li><a href="/2017/">2017 年度</a></li>
            </ul>
          </section>
          <section id="side-organizers">
            <h2>事業主体</h2>
            <ul>
              <li><a href="https://www.soumu.go.jp/"><img src="/static/images/supportes/soumu.png" srcset="/static/images/supportes/soumu@2x.png 1.5x" alt="総務省"></a></li>
            </ul>
          </section>
        </nav>
      </aside>
      <main>
        <div id="main-pages">
{{ content }}
          <div id="footer-outer" class="outer">
            <div class="inner">
              <footer id="footer">
                <nav>
                  <p><a href="/2019/">Web×IoT メイカーズチャレンジ 2019-20 ホームページ</a></p>
                </nav>
                <p>Copyright &copy; 2020 Web×IoT メイカーズチャレンジ実行委員会</p>
                <p><a href="/about/admin/">運営者情報</a> | <a href="/about/privacy/">プライバシーポリシー</a> | <a href="/about/code-of-conduct/">イベント行動規範</a></p>
                <p><small>本文中に記載されているブランド名、会社名、製品名等は、それぞれ各社の登録商標または商標です。</small></p>
              </footer>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://platform.twitter.com/widgets.js" async defer></script>
    <script src="https://use.typekit.net/yfn4cbp.js"></script>
    <script src="/static/scripts/main.js"></script>
    <script src="/static/scripts/2019.js"></script>
  </body>
</html>
