<!doctype html>
<html lang="ja">
  <head>
    {% include google-analytics.html %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&amp;display=swap" />
    <link rel="stylesheet" href="/static/styles/main.css?v={{ site.time | date: '%s' }}" />
    <link rel="stylesheet" href="/static/styles/2019.css?v={{ site.time | date: '%s' }}" />
    <link rel="stylesheet" href="/static/styles/2020.css?v={{ site.time | date: '%s' }}" />
    <link rel="stylesheet" href="/static/styles/local.css?v={{ site.time | date: '%s' }}" />
    <link rel="stylesheet" href="/static/styles/report.css?v={{ site.time | date: '%s' }}" />
    {%- if page.style %}
    <link rel="stylesheet" href="/static/styles/{{ page.style }}?v={{ site.time | date: '%s' }}" />
    {%- endif %}
    <link rel="icon" type="image/png" href="/static/images/general/favicon.png" />
    <link rel="apple-touch-icon" href="/static/images/general/apple-touch-icon.png" />
  </head>

  <body class="wimc-plus" id="{{ page.id }}">
    <div id="body-wrapper">
      <header id="mobile-header">
        <a href="#" class="menu" role="button" aria-controls="menu" aria-label="メニュー"><span class="icon fa" aria-hidden="true">&#xf0c9;</span></a>
        <h1 class="logo"><a href="/2024/">Web×IoT メイカーズチャレンジ PLUS</a></h1>
      </header>
      <aside class="drawer" id="menu">
        <a href="#" class="close" role="button" aria-controls="menu" aria-label="閉じる"><span aria-hidden="true">×</span></a>
        <h1 class="logo"><a href="/2024/">Web×IoT メイカーズチャレンジ PLUS</a></h1>
        <nav>
          <section id="side-locations">
            <h2><span>2024 年度</span> <span>開催地域</span></h2>
            <p>(決定次第順次更新予定)</p>
            <ul>
              <li><a href="#location-akita" role="button" aria-controls="locations location-akita">秋田</a></li>
              <li><a href="#location-shinshu" role="button" aria-controls="locations location-shinshu">信州</a></li>
              <li><a href="#location-aichi" role="button" aria-controls="locations location-aichi">愛知</a></li>
              <li><a href="#location-mie" role="button" aria-controls="locations location-mie">三重</a></li>
              <li><a href="#location-tottori" role="button" aria-controls="locations location-tottori">鳥取</a></li>
              <li><a href="#location-okayama" role="button" aria-controls="locations location-okayama">岡山</a></li>
              <li><a href="#location-kagawa" role="button" aria-controls="locations location-kagawa">香川</a></li>
            </ul>
          </section>
          <section id="side-about">
            <h2><span>本イベント</span><span>について</span></h2>
            <ul>
              <li>
                <a href="/2024/about/">運営・ご協賛の<wbr />皆様向け情報</a>
              </li>
              <li>
                <a href="https://x.com/WebIoTmakers" class="twitter" aria-label="X (旧 Twitter)"> {% include x-twitter.svg %} </a>
              </li>
            </ul>
          </section>
          <section id="side-history">
            <h2>アーカイブ</h2>
            <ul>
              <li><a href="/gallery/">ハッカソン作品集</a></li>
              <li><a href="/2023/">2023 年度</a></li>
              <li><a href="/2022/">2022 年度</a></li>
              <li><a href="/2021/">2021 年度</a></li>
              <li><a href="/2020/">2020 年度</a></li>
              <li><a href="/2019/">2019 年度</a></li>
              <li><a href="/2018/">2018 年度</a></li>
              <li><a href="/2017/">2017 年度</a></li>
            </ul>
          </section>
          <section id="side-organizers">
            <h2>後援 <small>(グランプリ決定戦)</small></h2>
            <ul>
              <li>
                <a href="https://www.soumu.go.jp/"><img src="/static/images/organizers/soumu.png" srcset="/static/images/organizers/soumu@2x.png 1.5x" alt="総務省" /></a>
              </li>
            </ul>
          </section>
        </nav>
      </aside>
      <main>
        <div class="drawer outer-2" id="locations" hidden>
          <a href="#" class="close" role="button" aria-controls="locations" aria-label="閉じる"><span aria-hidden="true">×</span></a>
          <section class="location" id="location-akita" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 秋田</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を秋田県で昨年度に引き続き開催します！" />
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2024-10-05" />
              <meta itemprop="endDate" content="2024-11-17" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li><a href="/static/docs/2024/akita-report.pdf" target="_blank" class="button cta">開催報告 (PDF) を見る</a></li>
              </ul>
            </section>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br />PLUS 秋田運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>共催</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">一般社団法人 秋田情報産業協会</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="akita-location">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <div>標準技術と OSS 利活用についての基礎講義、Raspberry Pi Zero を使った JavaScript によるハードウェア制御の実習、アイデアソン</div>
              <div>
                <time datetime="2024-10-05" itemprop="startDate">2024 年 10 月 5 日 (土)<br />10:00 – 16:00 (予定)</time>
                <br />
                <time datetime="2024-10-06" itemprop="endDate">10 月 6 日 (日)<br />10:00 – 17:00 (予定)</time>
                <br />
              </div>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="akita-location">
              <h5 itemprop="name">ハッカソン</h5>
              <div>チームでの作品制作、成果発表</div>
              <div>
                <time datetime="2024-11-16" itemprop="startDate">2024 年 11 月 16 日 (土)</time> –
                <time datetime="2024-11-17" itemprop="endDate">17 日 (日)</time>
                <br />10:00 – 17:00 (予定)
              </div>
            </section>
            <section>
              <h5>会場</h5>
              <div id="akita-location">
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <a href="https://www.watakei.co.jp/pages/116/" itemprop="url">
                    <span itemprop="name">株式会社渡敬 秋田支店</span> (Live Office 秋田)
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="秋田県" />
                    <meta itemprop="addressLocality" content="秋田市" />
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0" />
                  <a href="https://webiotmakers.connpass.com/event/327543/" class="button cta" itemprop="url">イベントの詳細</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
                <li><a href="/static/docs/2024/akita-flyer.pdf" target="_blank">告知チラシ (PDF)</a></li>
              </ul>
            </section>
          </section>
          <section class="location" id="location-shinshu" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 信州</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を長野県で昨年度に引き続き開催します！">
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2025-02-08" />
              <meta itemprop="endDate" content="2025-03-02" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br />PLUS 信州運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>特別協力</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">信州大学</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="shinshu-locations">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <div>標準技術と OSS 利活用についての基礎講義、Raspberry Pi Zero を使った JavaScript によるハードウェア制御の実習、アイデアソン</div>
              <div>
                <time datetime="2025-02-08" itemprop="startDate">2025 年 2 月 8 日 (土)</time> –
                <time datetime="2025-02-09" itemprop="endDate">9 日 (日)</time>
                <br />10:00 – 16:30 (予定)
              </div>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="shinshu-locations">
              <h5 itemprop="name">ハッカソン</h5>
              <div>チームでの作品制作、成果発表</div>
              <div>
                <time datetime="2025-03-01" itemprop="startDate">2025 年 3 月 1 日 (土)</time> –
                <time datetime="2025-03-02" itemprop="endDate">2 日 (日)</time>
                <br />10:00 - 17:00 (予定)
              </div>
            </section>
            <section>
              <h5>会場</h5>
              <div id="shinshu-locations">
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <h6>＜須坂会場＞</h6>
                  <a href="https://suzaka-bota.jp/" itemprop="url">
                    <span itemprop="name">bota (須坂市子育て就労総合支援センター)</span>
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="長野県">
                    <meta itemprop="addressLocality" content="須坂市">
                  </span>
                </div>
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <h6>＜塩尻会場＞</h6>
                  <a href="https://sip.shiojiri.com/access/" itemprop="url">
                    <span itemprop="name">塩尻インキュベーションプラザ</span>
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="長野県">
                    <meta itemprop="addressLocality" content="塩尻市">
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0">
                  <a href="https://webiotmakers.connpass.com/event/339373/" class="button cta" itemprop="url">イベントの詳細</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
              </ul>
            </section>
          </section>
          <section class="location" id="location-aichi" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 愛知</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を愛知県で初めて開催します！">
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2025-01-25" />
              <meta itemprop="endDate" content="2025-02-23" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br />PLUS 愛知運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>共催</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">名古屋文理大学</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="aichi-location">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <div>標準技術と OSS 利活用についての基礎講義、micro:bit を使い Web標準技術を活用したハードウェア制御の実習、アイデアソン</div>
              <div>
                <time datetime="2025-01-25" itemprop="startDate">2025 年 1 月 25 日 (土)</time>
                –
                <time datetime="2025-01-26" itemprop="endDate">26 日 (日)</time>
                <br />
                10:00 – 17:00 (予定)</time>
              </div>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="aichi-location">
              <h5 itemprop="name">ハッカソン</h5>
              <div>チームでの作品制作、成果発表</div>
              <div>
                <time datetime="2025-02-22" itemprop="startDate">2025 年 2 月 22 日 (土)</time>
                <br />
                10:00 – 20:30 (予定)
                <br />
                <time datetime="2025-02-23" itemprop="endDate">2025 年 2 月 23 日 (日)</time>
                <br />
                10:00 – 18:00 (予定)
              </div>
            </section>
            <section>
              <h5>会場</h5>
              <div id="aichi-location">
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <a href="https://www.nagoya-bunri.ac.jp/about/access/" itemprop="url">
                    <span itemprop="name">名古屋文理大学</span>
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="愛知県" />
                    <meta itemprop="addressLocality" content="稲沢市" />
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0" />
                  <a href="https://webiotmakers.connpass.com/event/337898/" class="button cta" itemprop="url">詳細・申し込み</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
                <li><a href="/static/docs/2024/aichi-flyer.pdf" target="_blank">告知チラシ (PDF)</a></li>
              </ul>
            </section>
          </section>
          <section class="location" id="location-mie" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 三重</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を三重県で初めて開催します！" />
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2024-12-07" />
              <meta itemprop="endDate" content="2025-01-13" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br />PLUS 三重運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>共催</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">三重大学</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="mie-location">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <div>標準技術と OSS 利活用についての基礎講義、Raspberry Pi Zero を使った JavaScript によるハードウェア制御の実習、アイデアソン</div>
              <div>
                <time datetime="2024-12-07" itemprop="startDate">2024 年 12 月 7 日 (土)<br />13:00 – 17:30 (予定)</time>
                <br />
                <time datetime="2024-12-08" itemprop="endDate">12 月 8 日 (日)<br />10:00 – 17:00 (予定)</time>
                <br />
              </div>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="mie-location">
              <h5 itemprop="name">ハッカソン</h5>
              <div>チームでの作品制作、成果発表</div>
              <div>
                <time datetime="2025-01-12" itemprop="startDate">2025 年 1 月 12 日 (日)<br />10:00 – 17:00 (予定)</time>
                <br />
                <time datetime="2025-01-13" itemprop="endDate">1 月 13 日 (月/祝)<br />10:00 – 18:00 (予定)</time>
                <br />
              </div>
            </section>
            <section>
              <h5>会場</h5>
              <div id="mie-location">
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <a href="https://www.mie-u.ac.jp/about/overview/access/campus-map.html" itemprop="url">
                    <span itemprop="name">三重大学 環境・情報科学館</span>
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="三重県津市" />
                    <meta itemprop="addressLocality" content="津市" />
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0" />
                  <a href="https://webiotmakers.connpass.com/event/326874/" class="button cta" itemprop="url">イベントの詳細</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
                <li><a href="/static/docs/2024/mie-flyer.pdf" target="_blank">告知チラシ (PDF)</a></li>
              </ul>
            </section>
          </section>
          <section class="location" id="location-tottori" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 鳥取</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を鳥取県で昨年度に引き続き開催します！" />
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2024-11-09" />
              <meta itemprop="endDate" content="2024-12-22" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br />PLUS 鳥取運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>共催</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">鳥取県</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <div>標準技術と OSS 利活用についての基礎講義、Raspberry Pi Zero を使った JavaScript によるハードウェア制御の実習、アイデアソン</div>
              <div>
                <time datetime="2024-11-09" itemprop="startDate">2024 年 11 月 9 日 (土) 13:00 – 17:30</time>
                <br />
                <time datetime="2024-11-10" itemprop="endDate">11 月 10 日 (日) 10:00 – 17:00</time>
              </div>
              <div>
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <h6>＜会場＞</h6>
                  <a href="https://familyplaza.net/" itemprop="url">
                    <span itemprop="name">国際ファミリープラザ</span>
                  </a> (米子市)
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="鳥取県">
                    <meta itemprop="addressLocality" content="米子市">
                  </span>
                </div>
              </div>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event">
              <h5 itemprop="name">ハッカソン</h5>
              <div>チームでの作品制作、成果発表</div>
              <div>
                <time datetime="2024-12-21" itemprop="startDate">2024 年 12 月 21 日 (土)</time> –
                <time datetime="2024-12-22" itemprop="endDate">22 日 (日)</time>
                <br />10:00 - 17:00
              </div>
              <div>
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <h6>＜会場＞</h6>
                  <a href="https://www.tottori-u.ac.jp/access/in-prefecture/" itemprop="url">
                    <span itemprop="name">鳥取大学 鳥取キャンパス</span>
                  </a> (鳥取市)
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="鳥取県">
                    <meta itemprop="addressLocality" content="鳥取市">
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0" />
                  <a href="https://webiotmakers.connpass.com/event/331607/" class="button cta" itemprop="url">イベントの詳細</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
                <li><a href="/static/docs/2024/tottori-flyer.pdf" target="_blank">告知チラシ (PDF)</a></li>
              </ul>
            </section>
            <section>
              <h5>過去の開催報告</h5>
              <ul class="plain">
                <li><a href="/static/docs/2023/tottori-report.pdf" target="_blank">2023 年度 開催報告</a></li>
                <li><a href="/static/docs/2022/tottori-report.pdf" target="_blank">2022 年度 開催報告</a></li>
                <li><a href="/2021/tottori/">2021 年度 開催報告</a></li>
                <li><a href="/2020/tottori/">2020 年度 開催報告</a></li>
                <li><a href="/2019/tottori/">2019 年度 開催報告</a></li>
                <li><a href="/2018/tottori/">2018 年度 開催報告</a></li>
              </ul>
            </section>
          </section>
          <section class="location" id="location-okayama" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 岡山</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を岡山県で昨年度に引き続き開催します！" />
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2024-08-10" />
              <meta itemprop="endDate" content="2024-09-29" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li><a href="/static/docs/2024/okayama-report.pdf" target="_blank" class="button cta">開催報告 (PDF) を見る</a></li>
              </ul>
            </section>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br />PLUS 岡山運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>特別協力</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">岡山大学</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="okayama-location">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <div>標準技術と OSS 利活用についての基礎講義、Raspberry Pi Zero を使った JavaScript によるハードウェア制御の実習</div>
              <div>
                <time datetime="2024-08-10" itemprop="startDate">2024 年 8 月 10 日 (土)</time> –
                <time datetime="2024-08-11" itemprop="endDate">11 日 (日)</time>
                <br />10:00 – 17:00 (予定)
              </div>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="okayama-location">
              <h5 itemprop="name">ハッカソン</h5>
              <div>チームでの作品制作、成果発表</div>
              <div>
                <time datetime="2024-09-28" itemprop="startDate">2024 年 9 月 28 日 (土)</time> –
                <time datetime="2024-09-29" itemprop="endDate">29 日 (日)</time>
                <br />10:00 – 17:00 (予定)
              </div>
            </section>
            <section>
              <h5>会場</h5>
              <div id="okayama-location">
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <a href="https://www.okayama-u.ac.jp/tp/access/access_4.html" itemprop="url">
                    <span itemprop="name">岡山大学 津島キャンパス</span>
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="岡山県" />
                    <meta itemprop="addressLocality" content="岡山市" />
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0" />
                  <a href="https://webiotmakers.connpass.com/event/323598/" class="button cta" itemprop="url">イベントの詳細</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
                <li><a href="/static/docs/2024/okayama-flyer.pdf" target="_blank">告知チラシ (PDF)</a></li>
              </ul>
            </section>
            <section>
              <h5>過去の開催報告</h5>
              <ul class="plain">
                <li><a href="/static/docs/2023/okayama-report.pdf" target="_blank">2023 年度 開催報告</a></li>
                <li><a href="/static/docs/2022/okayama-report.pdf" target="_blank">2022 年度 開催報告</a></li>
                <li><a href="/2021/okayama/">2021 年度 開催報告</a></li>
                <li><a href="/2020/okayama/">2020 年度 開催報告</a></li>
              </ul>
            </section>
          </section>
          <section class="location" id="location-kagawa" hidden itemscope itemtype="http://schema.org/Event">
            <hgroup>
              <h3 itemprop="name"><span>Web×IoT</span> <span>メイカーズチャレンジ</span> <span>PLUS in 香川</span></h3>
              <meta itemprop="description" content="IoT システム開発のスキルアップイベント「Web×IoT メイカーズチャレンジ」を香川県で昨年度に引き続き開催します！" />
              <meta itemprop="image" content="https://webiotmakers.github.io/static/images/2024/template/ogp.jpg" />
              <meta itemprop="startDate" content="2024-09-14" />
              <meta itemprop="endDate" content="2024-12-14" />
              <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
              <meta itemprop="eventAttendanceMode" content="https://schema.org/OfflineEventAttendanceMode" />
            </hgroup>
            <section>
              <h5>主催</h5>
              <ul class="plain">
                <li itemprop="organizer" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Web×IoT メイカーズチャレンジ<br>PLUS 香川運営委員会</span>
                </li>
              </ul>
            </section>
            <section>
              <h5>共催</h5>
              <ul class="plain">
                <li itemprop="contributor" itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">かがわ情報化推進協議会</span>
                </li>
              </ul>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
              <h5 itemprop="name">ハンズオン講習会</h5>
              <meta itemprop="startDate" content="2024-09-14">
              <meta itemprop="endDate" content="2024-11-02">
              <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
                <div><time datetime="2024-09-14" itemprop="startDate endDate">2024 年 9 月 14 日 (土)</time></div>
                <h6 itemprop="name">IoT 解説・動く IoT で価値を形に [必修]</h6>
              </section>
              <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
                <div><time datetime="2024-09-21" itemprop="startDate endDate">2024 年 9 月 21 日 (土)</time></div>
                <h6 itemprop="name">JavaScript + Google Spreadsheet 連携 [選択]</h6>
              </section>
              <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
                <div><time datetime="2024-09-28" itemprop="startDate endDate">2024 年 9 月 28 日 (土)</time></div>
                <h6 itemprop="name">座学講習、アイデアソン [必修]</h6>
              </section>
              <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
                <div><time datetime="2024-10-26" itemprop="startDate endDate">2024 年 10 月 26 日 (土)</time></div>
                <h6 itemprop="name">Raspberry Pi Zero 版 CHIRIMEN / M5Stack を使った IoT システム開発のハンズオン [必修]</h6>
              </section>
              <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
                <div><time datetime="2024-11-02" itemprop="startDate endDate">2024 年 11 月 2 日 (土)</time></div>
                <h6 itemprop="name">ハッカソンに向けてのメンターによる相談対応 [選択]</h6>
              </section>
            </section>
            <section itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemref="kagawa-location">
              <h5 itemprop="name">ハッカソン</h5>
              <div>
                <time datetime="2024-12-14" itemprop="startDate endDate">2024 年 12 月 14 日 (土)</time>
                <div><strong>ハッカソン成果発表会 [必修]</strong></div>
              </div>
            </section>
            <section>
              <h5>会場</h5>
              <div id="kagawa-location">
                <div itemprop="location" itemscope itemtype="http://schema.org/Place">
                  <a href="https://www.e-topia-kagawa.jp/" itemprop="url">
                    <span itemprop="name">情報通信交流館 e-とぴあ・かがわ</span>
                  </a>
                  <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="addressRegion" content="香川県">
                    <meta itemprop="addressLocality" content="高松市">
                  </span>
                </div>
              </div>
            </section>
            <section class="links">
              <h5>リンク</h5>
              <ul class="plain">
                <li itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="0">
                  <a href="https://webiotmakers.connpass.com/event/326891/" class="button cta" itemprop="url">イベントの詳細</a>
                  <small>(connpass サイトに移動します)</small>
                </li>
              </ul>
            </section>
            <section>
              <h5>過去の開催報告</h5>
              <ul class="plain">
                <li><a href="/static/docs/2023/kagawa-report.pdf" target="_blank">2023 年度 開催報告</a></li>
                <li><a href="/static/docs/2022/kagawa-report.pdf" target="_blank">2022 年度 開催報告</a></li>
                <li><a href="/2021/kagawa/">2021 年度 開催報告</a></li>
                <li><a href="/2020/kagawa/">2020 年度 開催報告</a></li>
                <li><a href="/2019/kagawa/">2019 年度 開催報告</a></li>
                <li><a href="/2018/kagawa/">2018 年度 開催報告</a></li>
              </ul>
            </section>
          </section>
        </div>
        <div id="main-pages">
          {{ content }}
          <div id="footer-outer" class="outer">
            <div class="inner">
              <footer id="footer">
                <nav>
                  <p><a href="/2024/">Web×IoT メイカーズチャレンジ PLUS ホームページ</a></p>
                </nav>
                <p>Copyright &copy; 2024 Web 標準・ICT 利活用人材育成地域連携協議会</p>
                <p><a href="/about/admin/">運営者情報</a> | <a href="/about/privacy/">プライバシーポリシー</a> | <a href="/about/code-of-conduct/">イベント行動規範</a></p>
                <p><small>本文中に記載されているブランド名、会社名、製品名等は、それぞれ各社の登録商標または商標です。</small></p>
              </footer>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="/static/scripts/2019.js?v={{ site.time | date: '%s' }}"></script>
    {%- if page.script %}
    <script src="/static/scripts/{{ page.script }}?v={{ site.time | date: '%s' }}"></script>
    {%- endif %}
  </body>
</html>
